<div class="form-cliente">
  <div class="form-cabecera">
    <h4>Lista de Proveedores</h4>
  </div> 
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text form-control-sm">Filtro</span>
          </div>
          <select class="form-control form-control-sm" id="filtro">        
            <option value="a.RUC">Ruc</option>
            <option value="a.NOMBRE">Razon Social</option>
            <option value="a.DIRECCION">Direccion</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">      
          <input type="text" class="form-control form-control-sm" id="filtro_input" placeholder="Dato a Buscar">
        </div>
      </div>  
      <div class="col-sm-3">
        <div class="input-group">
          <button class="btn btn-primary btn-sm btn-block" onclick="proveedorBuscar()"><i class="fas fa-search"></i> Buscar</button>
        </div>
      </div>
      <div class="col-sm-3" id="div_buscar" style="display: none">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input type="text" class="form-control form-control-sm" id="txt_buscar" onkeyup="BuscarFilaTabla('tabla_http','txt_buscar')">
        </div>
      </div>
    </div>
    <div class="table-responsive" id="tabla_http_scroll">
      <table class="table table-hover table-sm" id="tabla_http">
        <thead>
          <tr>
            <th width="150">Ruc</th>          
            <th width="200">Rason Social</th>
            <th width="220">Direccion</th>          
            <th width="150">Telefono</th>
            <th width="150">Email</th>          
            <th width="100">Accion</th>          
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>  
</div>
<script type="text/javascript">
screenAltura("tabla_http_scroll",340);
var proveedores=[];
function proveedorBuscar(){
  document.getElementById("div_buscar").style.display="block";
  let data={};
  data['filtro']=document.getElementById("filtro").value;
  data['input_filtro']=document.getElementById("filtro_input").value;
  data['status']="1";
  tableLoader('tabla_http tbody',5);
  $.post(baseUrl+"proveedor/buscar",data,function(data){
    $("#tabla_http tbody").html("");
    let response=JSON.parse(data);        
    if (response.status) {
      proveedores=arrayToObj(response['data'])
      for (x in response['data']) {        
        let fila='<tr id="f-'+response['data'][x].ID+'">';      
        fila+='<td>'+response['data'][x].RUC+'</td>';  
        fila+='<td>'+response['data'][x].NOMBRE+'</td>';
        fila+='<td>'+response['data'][x].DIRECCION+'</td>';        
        fila+='<td>'+response['data'][x].TELEFONO+'</td>';
        fila+='<td>'+response['data'][x].EMAIL+'</td>';        
        fila+='<td style="text-align:center;">';        
        fila+=`<div class="dropdown">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="dropdown" data-boundary="window">
                  <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="proveedorLeer(`+response['data'][x].ID+`)">Ver</a>
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="proveedorEditar(`+response['data'][x].ID+`)">Editar</a>
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="proveedorEliminar(`+response['data'][x].ID+`)">Eliminar</a>
                </div>
              </div>`;
        fila+='</td>';      
        fila+='</tr>';
        $("#tabla_http tbody").append(fila);
      }
    }else{
      let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
      $('#modal_mensaje').html(modal_conten_loader);
      $('#modal_mensaje').modal('toggle'); 
    }    
  });
}

function proveedorLeer(id){  
  let modal=modalProveedorLeer(proveedores[id]);  
  $('#modal_mensaje').html(modal);
  $('#modal_mensaje').modal('toggle'); 
}

function modalProveedorLeer(data){
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-save"></i> Datos Proveedor</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Ruc:</label>
            <input readonly type="text" class="form-control form-control-sm" id="ruc" value="`+data.RUC+`">
          </div>
          <div class="form-group">
            <label>Razon Social:</label>
            <input readonly type="text" class="form-control form-control-sm" value="`+data.NOMBRE+`">
          </div>
          <div class="form-group">
            <label>Direccion:</label>
            <input readonly type="text" class="form-control form-control-sm" value="`+data.DIRECCION+`">
          </div>
          
          <div class="form-group">
            <label>Telefono:</label>
            <input readonly type="text" class="form-control form-control-sm" value="`+data.TELEFONO+`">
          </div>
          <div class="form-group">
            <label>Telefono:</label>
            <input readonly type="text" class="form-control form-control-sm" value="`+data.EMAIL+`">
          </div>
          <div class="form-group">
            <label>Estado:</label>    
            <input readonly type="text" class="form-control form-control-sm" value="`+data.ESTADO+`">
          </div>
        </form>
      </div>
    </div>
    </div>`;
  return modal;
}

function proveedorEditar(id){
  console.log(proveedores[id]);
  let modal=modalProveedorEditar(proveedores[id]);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
}

function modalProveedorEditar(data){
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-pencil-alt"></i> Editar Proveedor</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_proveedor_editar">
          <input type="hidden" name="id" value="`+data.ID+`">
          <input type="hidden" name="estado_id" value="`+data.ESTADO_ID+`">
          <div class="form-group">
            <label for="ruc">Ruc *</label>
            <input type="number" class="form-control form-control-sm" id="ruc" 
              name="ruc" value="`+data.RUC+`">
          </div>
          <div class="form-group">            
            <label for="nombre">Rason Social *</label>
            <input required type="text" class="form-control form-control-sm" id="nombre" 
              name="nombre" value="`+data.NOMBRE+`">
          </div>
          <div class="form-group">
            <label for="direccion">Direccion *</label>
            <input required type="text" class="form-control form-control-sm" id="direccion" 
              name="direccion" value="`+data.DIRECCION+`">
          </div>
          <div class="form-group">
            <label for="telefono">Telefono </label>
            <input type="text" class="form-control form-control-sm" id="telefono" 
              name="telefono" value="`+data.TELEFONO+`">
          </div>
          <div class="form-group">
            <label for="email">Dni </label>
            <input type="text" class="form-control form-control-sm" id="email"
             name="email" value="`+data.EMAIL+`">
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center"> 
        <button type="button" class="btn btn-info btn-sm" onclick="proveedorEditarGuardar()"><i class="fas fa-pencil-alt"></i> Editar</button>       
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
      </div>
    </div>
    </div>`;
  return modal;
}


function proveedorEditarGuardar(){  
  if (formValido("form_proveedor_editar")){
    let data_json=objForm("form_proveedor_editar");    
    modalCargando();
    $.post(baseUrl+"proveedor/editar",data_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle'); 
      if (response.status){
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');      
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        dataLocalEdit(proveedores,data_json); 
        let aObjetos=[]
        aObjetos.push(data_json['ruc']);
        aObjetos.push(data_json['nombre']);       
        aObjetos.push(data_json['direccion']);       
        aObjetos.push(data_json['telefono']);       
        aObjetos.push(data_json['email']);       
        datatableRowEdit(data_json['id'],aObjetos);  
             
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
}

function proveedorEliminar(id){
  console.log(proveedores[id]);
  let modal=modalProveedorEliminar(proveedores[id]);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
}

function modalProveedorEliminar(data){
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-trash-alt"></i> Eliminar Proveedor</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_proveedor_eliminar">
          <input type="hidden" name="id" value="`+data.ID+`">
        </form>
        <h6>Estas Seguro de Eliminar Proveedor..?"</h6>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-info btn-sm" onclick="clienteProveedorEliminarGuardar()"><i class="fas fa-trash-alt"></i> Si</button>       
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> No</button>  
      </div>
    </div>
    </div>`;
  return modal;
}

function clienteProveedorEliminarGuardar(){
  if (formValido("form_proveedor_eliminar")){
    let data_json=objForm("form_proveedor_eliminar");
    modalCargando();
    $.post(baseUrl+"proveedor/eliminar",data_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle'); 
      if (response.status){
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');      
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        $("#f-"+data_json['id']).remove();
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
}
</script>  