<div class="form-cliente">
  <div class="form-cabecera">
    <h4>Lista de Propietarios</h4>
  </div> 
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text form-control-sm">Filtro</span>
          </div>
          <select class="form-control form-control-sm" id="filtro">
            <option value="a.DNI">Dni</option>
            <option value="a.NOMBRES">Nombre</option>
            <option value="a.APATERNO">A Paterno</option>
            <option value="a.AMATERNO">A Materno</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">      
          <input type="text" class="form-control form-control-sm" id="filtro_input" placeholder="Dato Buscar">
        </div>
      </div>  
      <div class="col-sm-3">
        <div class="input-group">
          <button class="btn btn-primary btn-sm btn-block" onclick="colaboradorBuscar()"><i class="fas fa-search"></i> Buscar</button>
        </div>
      </div>
      <div class="col-sm-3" id="div_buscar" style="display: none">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input type="text" class="form-control form-control-sm" id="txt_buscar" onkeyup="BuscarFilaTabla('tabla_http','txt_buscar')">
          
          <div class="input-group-prepend">        
            <span class="input-group-text" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></span>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="javascript:void(0)" onclick="exportarPropietariosCsv()">Exportar CVS</a>
              <a class="dropdown-item" href="javascript:void(0)" onclick="exportarPropietariosPdf()">Exportar PDF</a>          
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive" id="tabla_http_scroll">
      <table class="table table-hover table-sm" id="tabla_http">
        <thead>
          <tr>          
            <th width="120">Dni</th>
            <th width="280">Colaborador</th>
            <th width="200">Correo</th>
            <th width="120">Telefono</th>
            <th width="120">Estado</th>
            <th width="100">Accion</th>          
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>  
  </div>  
</div> 
<script type="text/javascript">

var estados=[];
function dataFromEditarColaborador(){
  $.get(baseUrl+"propietario/formeditar",function(data){          
    let response=JSON.parse(data);  
    if(response.status){      
      estados=response['estados'];      
    }else{
      alert("Ocurrio un Error En la Conexion");
    }
  });
}
dataFromEditarColaborador(); 

screenAltura("tabla_http_scroll",340);
var propietarios=[];
function colaboradorBuscar(){
  document.getElementById("div_buscar").style.display="block";
  let data={};
  data['filtro']=document.getElementById("filtro").value;
  data['input_filtro']=document.getElementById("filtro_input").value;    
  data['status']="1,2";
  tableLoader('tabla_http tbody',5);
  $.post(baseUrl+"propietario/buscar",data,function(data){
    $("#tabla_http tbody").html("");
    let response=JSON.parse(data); 
    console.log(response)       
    if (response.status) {
      propietarios=arrayToObj(response['data'])
      for (x in response['data']) {        
        let fila='<tr id="f-'+response['data'][x].ID+'">';      
        fila+='<td>'+response['data'][x].DNI+'</td>';            
        fila+='<td>'+response['data'][x].NOMBRES+' '+response['data'][x].APATERNO+' '+response['data'][x].AMATERNO+'</td>';
        fila+='<td>'+response['data'][x].CORREO+'</td>';
        fila+='<td>'+response['data'][x].TELEFONO+'</td>';
        fila+='<td>'+response['data'][x].ESTADO+'</td>';      
        fila+='<td style="text-align:center;">';        
        fila+=`<div class="dropdown">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="dropdown" data-boundary="window">
                  <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="colaboradorLeer(`+response['data'][x].ID+`)">Ver</a>
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="colaboradorEditar(`+response['data'][x].ID+`)">Editar</a>                  
                </div>
              </div>`;
        fila+='</td>';      
        fila+='</tr>';
        $("#tabla_http tbody").append(fila);
      }
    }else{
      let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
      $('#modal_mensaje').html(modal_conten_loader);
      $('#modal_mensaje').modal('toggle'); 
    }    
  });
}

  
function colaboradorLeer(id){  
  let modal=modalColaboradorLeer(propietarios[id]);  
  $('#modal_mensaje').html(modal);
  $('#modal_mensaje').modal('toggle'); 
}

function modalColaboradorLeer(data){
  let modal=`<div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-save"></i> Datos Propietario</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-sm-6">  
              <div class="form-group">
                <label for="nombre">Nombres</label>
                <input readonly type="text" class="form-control form-control-sm" value="`+data.NOMBRES+`">
              </div>
              <div class="form-group">
                <label for="nombre">Apellido Paterno</label>
                <input readonly type="text" class="form-control form-control-sm" value="`+data.APATERNO+`">
              </div>
              <div class="form-group">
                <label for="direccion">Apellido Materno</label>
                <input readonly type="text" class="form-control form-control-sm" value="`+data.AMATERNO+`">
              </div>
              <div class="form-group">
                <label for="estado">Estado:</label>    
                <input readonly type="text" class="form-control form-control-sm" value="`+data.ESTADO+`">
              </div>
            </div>
            <div class="col-sm-6">  
                <div class="form-group">
                  <label for="nombre">Dni</label>
                  <input readonly type="text" class="form-control form-control-sm" value="`+data.DNI+`">
                </div>
                <div class="form-group">
                  <label for="dni">Correo</label>
                  <input readonly type="text" class="form-control form-control-sm" value="`+data.CORREO+`">
                </div>
                <div class="form-group">
                  <label for="telefono">Telefono:</label>
                  <input readonly type="text" class="form-control form-control-sm" value="`+data.TELEFONO+`">
                </div>               
            </div>
          </div>  
          
        </form>
      </div>
    </div>
    </div>`;
  return modal;
}
  
function colaboradorEditar(id){  
  let modal=modalColaboradorEditar(propietarios[id]);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
}

function modalColaboradorEditar(data){
  let estado=modalLoadSelect(data.ESTADO_ID,estados);
  let modal=`<div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-pencil-alt"></i> Editar Propietario</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_colaborador_editar">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="nombres">Nombres *</label>
                <input required type="text" class="form-control form-control-sm" id="nombres" 
                  name="nombres" value="`+data.NOMBRES+`">
              </div>
              <div class="form-group">
                <label for="apaterno">Apellido Paterno *</label>
                <input required type="text" class="form-control form-control-sm" id="apaterno" 
                  name="apaterno" value="`+data.APATERNO+`">
              </div>
              <div class="form-group">
                <label for="amaterno">Apellido Materno *</label>
                <input required type="text" class="form-control form-control-sm" id="amaterno" 
                  name="amaterno" value="`+data.AMATERNO+`">
              </div>
              <div class="form-group">
                <label for="estado_id">Estado:</label>    
                <select class="form-control form-control-sm" id="estado_id" name="estado_id" nameSelect="estado">
                  `+estado+`
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="hidden" name="id" value="`+data.ID+`">
                <label for="dni">Dni *</label>
                <input required type="text" class="form-control form-control-sm" id="dni" 
                  name="dni" value="`+data.DNI+`">
              </div>
              <div class="form-group">
                <label for="correo">Correo </label>
                <input type="text" class="form-control form-control-sm" id="correo" 
                  name="correo" value="`+data.CORREO+`">
              </div>
              <div class="form-group">
                <label for="telefono">Telefono </label>
                <input type="number" class="form-control form-control-sm" id="telefono" 
                  name="telefono" value="`+data.TELEFONO+`">
              </div>
            </div>
          </div>    
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-info btn-sm" onclick="colaboradorEditarGuardar()"><i class="fas fa-pencil-alt"></i> Editar</button>       
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>  
      </div>
    </div>
    </div>`;
  return modal;
}
  
function colaboradorEditarGuardar(){  
  if (formValido("form_colaborador_editar")){      
    let data_json=objForm("form_colaborador_editar");    
    modalCargando();
    $.post(baseUrl+"propietario/editar",data_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle'); 
      if (response.status){
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');      
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        dataLocalEdit(propietarios,data_json);
        let aObjetos=[]
        aObjetos.push(data_json['dni']);
        aObjetos.push(data_json['nombres']+' '+data_json['apaterno']+' '+data_json['amaterno']);
        aObjetos.push(data_json['correo']);        
        aObjetos.push(data_json['telefono']);        
        aObjetos.push(data_json['estado']);        
        datatableRowEdit(data_json['id'],aObjetos);       
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
} 
  
exportarPropietariosCsv = function() {
  let exportCvs="DNI,NOMBRES,A PATERNO,A MATERNO,CORREO,TELEFONO,ESTADO\r\n";
  for(x in propietarios){
    exportCvs+=propietarios[x].DNI+",";
    exportCvs+=propietarios[x].NOMBRES+",";
    exportCvs+=propietarios[x].APATERNO+",";
    exportCvs+=propietarios[x].AMATERNO+",";
    exportCvs+=propietarios[x].CORREO+",";
    exportCvs+=propietarios[x].TELEFONO+",";
    exportCvs+=propietarios[x].ESTADO;
    exportCvs+= "\r\n";
  }

  csvString = "data:application/csv," + encodeURIComponent(exportCvs);
  let data = document.createElement("A");
  data.setAttribute("href", csvString );
  data.setAttribute("download","colaboradores.csv");
  document.body.appendChild(data);
  data.click();
}
  
exportarPropietariosPdf=function(){
  // CREATE A WINDOW OBJECT.
  let win = window.open('', '', 'height=700,width=900');
  let tabla=`<table style="font-size: 12px;width: 100%;font-family: arial, sans-serif;border-collapse: collapse;">
    <thead>
      <tr>          
        <th>Dni</th>
        <th>Nombres</th>
        <th>A Paterno</th>
        <th>A Materno</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Estado</th>              
      </tr>
    </thead>
    <tbody>`;
  for(x in propietarios){
    tabla+="<tr>";
    tabla+="<td>"+propietarios[x].DNI+"</td>";
    tabla+="<td>"+propietarios[x].NOMBRES+"</td>";
    tabla+="<td>"+propietarios[x].APATERNO+"</td>";
    tabla+="<td>"+propietarios[x].AMATERNO+"</td>";
    tabla+="<td>"+propietarios[x].CORREO+"</td>";
    tabla+="<td>"+propietarios[x].TELEFONO+"</td>";
    tabla+="<td>"+propietarios[x].ESTADO+"</td>";
    tabla+="</tr>";
  }
  tabla+="</tbody></table>";
  let style = "<style>";                        
  style = style + "td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 2px;}";        
  style = style + "</style>";
  win.document.write('<html><head>');
  win.document.write('<title>Colaboradores</title>');   // <title> FOR PDF HEADER.
  win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
  win.document.write('</head>');
  win.document.write('<body>');
  win.document.write(tabla);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
  win.document.write('</body></html>');
  win.document.close();   // CLOSE THE CURRENT WINDOW.
  win.print();    // PRINT THE CONTENTS.
}
</script>  