<datalist id="inventario_list">
</datalist>
<center><h3>Registrar Salidas</h3></center>
<div class="table-responsive" id="tabla_http_scroll">
  <table class="table" id="tabla_http">
    <thead>
      <tr>        
        <th width="80">Id</th> 
        <th width="180">Item</th>                  
        <th width="100">Saldo</th> 
        <th width="100">Precio</th>
        <th width="100">Cantidad</th>                 
        <th width="100">Total</th>
        <th width="140">Fecha</th>
        <th width="80"><button class="btn btn-primary btn-sm" onclick="inventarioAddRow()"><i class="fas fa-plus"></i></button></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<style>
  .t_input{
    padding-left: 2px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #BDBDBD;
  }
 
</style>
<script>
var data_inventario;
function list_inventario(){
  $.get(baseUrl+"inventario/forminventariosalida",function(data){
  	let response=JSON.parse(data); 
    console.log(response)	
    data_inventario=response.inventario;
    let fila="";    
  	for (x in data_inventario) {	  	  	
  	  fila+='<option codigo="'+data_inventario[x].INVENTARIO_ID+'" value="'+data_inventario[x].ITEM_NOMBRE+'">Saldo : '+data_inventario[x].INVENTARIO_SALDO+' - Precio : '+data_inventario[x].ITEM_PRECIO_VENTA+' - FV : '+data_inventario[x].FECHA_VENCIMIENTO+'</option>';	  	  
  	}  
  	$("#inventario_list").html(fila);
	});
}
list_inventario();

function inventarioAddRow(){ 	  
  let fechayhora=fechaHoraActual();  
  let fecha=fechaActual();  

  let row='<tr>';
    row+='<td><input class="t_input" readonly value="Sin Id"></td>';  
    row+='<td><input class="t_input" readonly onclick="InventarioId(this)" placeholder="Seleccionar Item"></td>';
    row+='<td><input type="text" readonly class="t_input" name="saldo" value="0"></td>'; 
    row+='<td><input type="number" class="t_input" name="precio" value="0"></td>';   
    row+='<td><input type="number" class="t_input" onchange="calcularVuelto(this)" name="cantidad" min="0" value="0"></td>';   
    row+='<td><input type="number" readonly class="t_input" name="total" value="0"></td>';     
    row+='<td><input type="text" class="t_input fechahora" name="fechaingreso" value="'+fechayhora+'"></td>';	
    row+='<td>';
    row+='<button onclick="tableSalidaRegistrar(this)" class="btn btn-success btn-sm" data-toggle="tooltip" title="Guardar"><i class="fa fa-plus"></i></button>&nbsp';
    row+='<button onclick="eliminar(this)" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Eliminar"><i class="fas fa-trash"></i></button>';
    row+='</td>';
    row+='</tr>';
  $("#tabla_http tbody").append(row);  
  $(".fecha").mask("99/99/9999");
  $(".fechahora").mask("99/99/9999 99:99");
} 

function calcularVuelto(input){
  let filainputs=$(input).parents("tr").find("input");   
  console.log(filainputs)   
  let saldo=parseInt(filainputs[2].value);   
  let precio=filainputs[3].value;  
  let cantidad=parseInt(filainputs[4].value);
  console.log("SALDO"+ saldo)  
  console.log("CANTIDAD"+ cantidad)  
  if (cantidad>saldo){
    alert("Saldo Insuficiente");
    filainputs[4].value=0;
    filainputs[5].value=0;
  }else{
    filainputs[5].value=precio*cantidad;
  }
}

function id_item(input) {        	 
  list = document.getElementById('item_list').options;
	for(x in list){      		
		if (list[x].value==input.value) {			
			let item_id=list[x].getAttribute('codigo');	
      let filainputs=$(input).parents("tr").find("input");      
      filainputs[0].value=item_id;      
			break;
		}      		
	}
}

function id_item_modal(input) {        	 
  list = document.getElementById('item_list').options;
  let m_item_id=document.getElementById('m_item_id');
	for(x in list){      		
		if (list[x].value==input.value) {			
			let item_id=list[x].getAttribute('codigo');	      
      m_item_id.value=item_id;      
			break;
		}      		
	}
}

function tableSalidaRegistrar(boton){

  let filaInputs=$(boton).parents("tr").find("input");  
  let inventario_id=filaInputs[0].value;
  let item_name=filaInputs[1].value;
  let saldo=filaInputs[2].value;
  let precio=filaInputs[3].value;
  let cantidad=filaInputs[4].value;
  let fecha=filaInputs[6].value;
  let tipo="VENTA";
  let usuario_id=1;
  let estado="ACTIVO";

  let filaSelects=$(boton).parents("tr").find("select");  
  
  let obj_json={};
  obj_json['inventario_id']=inventario_id;
  obj_json['saldo']=saldo;
  obj_json['precio']=precio;
  obj_json['cantidad']=cantidad;
  obj_json['fecha']=fecha;
  obj_json['tipo']=tipo;
  obj_json['usuario_id']=usuario_id;  
  obj_json['estado']=estado;
  modalCargando();
  if(inventario_id!=""&&saldo!=0&&precio!=0&&fecha!=""&&tipo!=""&&usuario_id!=""&&cantidad!=0){
    $.post(baseUrl+"salida/crear",obj_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle'); 
      if (response.estado){
        //Recorrer par actualziar        
        for (x in data_inventario){
          if(parseInt(data_inventario[x].INVENTARIO_ID)==parseInt(inventario_id)){
            data_inventario[x].INVENTARIO_SALDO=parseInt(data_inventario[x].INVENTARIO_SALDO)-parseInt(cantidad);
            break;
          }
        }
        let serverSalidaId=response.salida_id;
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle'); 
        let fila='<td>'+inventario_id+'</td>';          
          fila+='<td>'+item_name+'</td>';
          fila+='<td>'+saldo+'</td>';
          fila+='<td>'+precio+'</td>';
          fila+='<td>'+cantidad+'</td>';
          fila+='<td>'+(precio*cantidad)+'</td>';
          fila+='<td>'+fecha+'</td>';          
          fila+='<td>';
          fila+='<button onclick="tableItemEditar('+serverSalidaId+')" class="btn btn-success btn-sm" data-toggle="tooltip" title="Editar"><i class="fas fa-pen"></i></button>&nbsp';
          fila+='<button onclick="tableItemEliminar('+serverSalidaId+')" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Eliminar"><i class="fas fa-trash"></i></button></td>';
          fila+='</td>';
        $(boton).parents("tr").attr("id","f-"+serverSalidaId);
        $(boton).parents("tr").html(fila);     
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    });
  }else{
    alert("Ingresar todos los datos")
  } 
}

function modalSalidaEditar(data){
  let modal=`<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Salida</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_salida_editar">
          <input type="hidden" name="id" value="`+data.id+`">
          <div class="form-group">
            <label for="inventario_id">Inventario Id:</label>
            <input required readonly type="number" class="form-control" id="inventario_id" 
              name="inventario_id" value="`+data.inventario_id+`">
          </div>      
          <div class="form-group">
            <label for="inventario_nombre">Inventario :</label>
            <input required type="text" class="form-control" list="inventario_list" id="inventario_nombre" 
              name="inventario_nombre" value="`+data.item_nombre+`" onchange="id_inventario_modal(this)">
          </div>
          <div class="form-group">
            <label for="cantidad">Saldo:</label>
            <input required readonly type="number" class="form-control" id="cantidad" 
              name="cantidad" value="`+data.saldo+`">
          </div>
          <div class="form-group">
            <label for="precio">Precio:</label>
            <input required readonly type="number"  class="form-control" id="precio" 
            name="precio" value="`+data.precio+`">
          </div>
          <div class="form-group">
            <label for="cantidad">Cantidad:</label>
            <input type="number" class="form-control" id="cantidad" 
            name="cantidad" value="`+data.cantidad+`">
          </div>
          <div class="form-group">
            <label for="total">Total:</label>
            <input type="number" readonly class="form-control" id="total" 
            name="total" value="`+data.total+`">
          </div>
          <div class="form-group">
            <label for="fecha">Fecha Ingreso:</label>
            <input type="text" class="form-control fechahora" id="fecha" 
            name="fecha" value="`+data.fecha+`">
          </div>
        </form>
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-success" onclick="salidaEditarGuardar()">Editar</button>       
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>        
      </div>
    </div>
    </div>`;
  return modal;
}

function tableItemEditar(id){
  let filaData=$("#f-"+id).find("td");
  let data={};
  data["id"]=id;
  data["inventario_id"]=filaData[0].innerHTML;
  data["item_nombre"]=filaData[1].innerHTML;
  data["saldo"]=filaData[2].innerHTML;
  data["precio"]=filaData[3].innerHTML;
  data["cantidad"]=filaData[4].innerHTML;
  data["total"]=filaData[5].innerHTML;
  data["fecha"]=filaData[6].innerHTML;    
  let modal=modalSalidaEditar(data);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle');
  $(".fechahora").mask("99/99/9999 99:99"); 
}

function salidaEditarGuardar(){  
  if (formValido("form_salida_editar")){
    let data=$("#form_salida_editar").serializeArray();
    let data_json={}
    for (x in data){    
      data_json[data[x].name]=data[x].value
    }
    data_json['codigobarra']="";
    data_json['estado']="ACTIVO";
    modalCargando();
    $.post(baseUrl+"inventario/editar",data_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle');
      if (response.estado){
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        let fila='<td>'+data_json.item_nombre+'</td>';          
          fila+='<td>'+data_json.cantidad+'</td>';
          fila+='<td>'+data_json.ubicacion+'</td>';
          fila+='<td>'+data_json.fechaingreso+'</td>';
          fila+='<td>'+data_json.fechafabricacion+'</td>';
          fila+='<td>'+data_json.fechavencimiento+'</td>';          
          fila+='<td>';
          fila+='<button onclick="tableSalidaEditar('+data_json.id+','+data_json.item_id+')" class="btn btn-success btn-sm" data-toggle="tooltip" title="Editar"><i class="fas fa-pen"></i></button>&nbsp';
          fila+='<button onclick="tableSalidaEliminar(this)" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Eliminar"><i class="fas fa-trash"></i></button></td>';
          fila+='</td>';
        $("#f-"+data_json.id).html(fila);        
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
}

function id_item_modal(input) {        	 
  list = document.getElementById('item_list').options;
  let m_item_id=document.getElementById('m_item_id');
	for(x in list){      		
		if (list[x].value==input.value) {			
			let item_id=list[x].getAttribute('codigo');	      
      m_item_id.value=item_id;      
			break;
		}      		
	}
}

function modalInventarioEliminar(id){
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eliminar Inventario</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_inventario_eliminar">
          <input type="hidden" name="id" value="`+id+`">
        </form>
        <h6>Estas Seguro de Eliminar Inventario..?"</h6>
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-success" onclick="InventarioEliminarGuardar()">Si</button>       
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>        
      </div>
    </div>
    </div>`;
  return modal;
}

function tableItemEliminar(id){
  let modal=modalInventarioEliminar(id);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
}

function modalInventarioId(datahtml){
  let modal=`<div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Stock</h4>        
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="txt_modal_buscar" onkeyup="BuscarFilaTabla('tabla_modal_http','txt_modal_buscar')" placeholder="Buscar Item">
        <div class="table-responsive" id="tabla_modal_http_scroll">
        <table class="table" id="tabla_modal_http">
            <thead>
                <tr>
                <th width="50">Id</th> 
                <th width="250">Item</th>          
                <th width="150">Presentacion</th>                          
                <th width="100">Saldo</th>                 
                <th width="120">Precio</th>     
                <th width="150">F Vencimiento</th>                  
                <th width="250">Categoria</th>         
                <th width="180">Proveedor</th>          
                </tr>
            </thead>
            <tbody>`+datahtml+`</tbody>
        </table>
        </div>        
      </div>
     
    </div>
    </div>`;
  return modal;
}
var modal_item_id=0;
var modal_item_name="";
var modal_item_saldo=0;
var modal_item_precio=0;
var fila_seleccionada;
function activarFilaItem(){
  console.log("activo");
  $("#tabla_modal_http tbody tr").click(function () {
    $('.table-primary').removeClass('table-primary');
    $(this).addClass("table-primary");    
    let x=$(this).find("td");    
    modal_item_id=x[0].innerHTML;
    modal_item_name=x[1].innerHTML;
    modal_item_saldo=x[3].innerHTML;
    modal_item_precio=x[4].innerHTML;
  });
}

function InventarioId(fila){  
  let datahtml="";
  for (x in data_inventario){
    datahtml+='<tr ondblclick="modalSeleccionarFila()">';
    datahtml+='<td>'+data_inventario[x].INVENTARIO_ID+'</td>';
    datahtml+='<td>'+data_inventario[x].ITEM_NOMBRE+'</td>';
    datahtml+='<td>'+data_inventario[x].ITEM_TIPO_NOMBRE+'</td>';    
    datahtml+='<td>'+data_inventario[x].INVENTARIO_SALDO+'</td>';
    datahtml+='<td>'+data_inventario[x].ITEM_PRECIO_VENTA+'</td>';
    datahtml+='<td>'+data_inventario[x].FECHA_VENCIMIENTO+'</td>';
    datahtml+='<td>'+data_inventario[x].ITEM_CATEGORIA_NOMBRE+'</td>';
    datahtml+='<td>'+data_inventario[x].PROVEEDOR_NOMBRE+'</td>';
    datahtml+='<tr>';
  }
  
  let modal=modalInventarioId(datahtml);
  fila_seleccionada=fila;  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
  activarFilaItem();
  screenAltura("tabla_modal_http_scroll",370);
}

function modalSeleccionarFila(){
  let selecionado=$("#tabla_modal_http tbody .table-primary").length
  if(selecionado==1){    
    let filatabla=$(fila_seleccionada).parents("tr").find("input");      
    filatabla[0].value=modal_item_id;
    filatabla[1].value=modal_item_name; 
    filatabla[2].value=modal_item_saldo; 
    filatabla[3].value=modal_item_precio; 
    $('#modal_formulario').html("");
    $('#modal_formulario').modal('toggle');    
  }else{
    alert("Seleccione al Menos un Item");
  } 
}
function InventarioEliminarGuardar(){
  if (formValido("form_inventario_eliminar")){
    let data=$("#form_inventario_eliminar").serializeArray();
    let data_json={}
    for (x in data){    
      data_json[data[x].name]=data[x].value
    }
    console.log(data_json);

    $.post(baseUrl+"inventario/eliminar",data_json,function(data){      
      let response=JSON.parse(data);
      console.log(response)
      if (response.estado){
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');      
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        $("#f-"+data_json['id']).remove();
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
}

function eliminar(boton){
  $(boton).parents("tr").remove();
}
</script>