<div class="form-cliente">
  <div class="form-cabecera">
    <h4>Buscar Salida de Productos</h4>
  </div> 
  <hr>
  <div class="container-fluid">    
    <datalist id="item_list">
    </datalist>
    <datalist id="ingreso_list">
    </datalist>
    <div class="row">
      <div class="col-md-2">
        <div class="input-group">
          <select class="form-control form-control-sm" id="filtro">
            <option value="a.FECHA">Fecha Salida</option>
            <option value="a.FECHACREACION">Fecha Creacion</option>        
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">      
          <input type="text" class="fecha form-control form-control-sm" id="inicio" placeholder="Fecha Inicio" >
        </div>
      </div>  
      <div class="col-sm-2">
        <div class="input-group">
          <input type="text" class="fecha form-control form-control-sm" id="final" placeholder="Fecha Final">
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="input-group">
          <input type="hidden" id="item_id" name="item_id">            
          <input required type="text" class="form-control form-control-sm" list="item_list" id="item_nombre" 
            name="item_nombre" onchange="id_item(this)" placeholder="Nombre Item">
        </div>
      </div>
      <div class="col-sm-2">
          <div class="input-group">
            <button class="btn btn-primary btn-sm btn-block" onclick="salidaBuscar()"><i class="fas fa-search"></i> Buscar</button>
          </div>
      </div>
      <div class="col-sm-2" id="div_buscar" style="display: none">
        <div class="input-group">
          <input type="text" class="form-control form-control-sm" id="txt_buscar" onkeyup="BuscarFilaTabla('tabla_http','txt_buscar')" placeholder="Filtar Datos">
          <div class="input-group-prepend">        
            <span class="input-group-text" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></span>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="javascript:void(0)" onclick="exportarSalidasCsv()">Exportar CVS</a>
              <a class="dropdown-item" href="javascript:void(0)" onclick="exportarSalidasPdf()">Exportar PDF</a>          
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive" id="tabla_http_scroll">
      <table class="table table-hover table-sm" id="tabla_http">
        <thead>
          <tr>
            <th width="50">Id</th>          
            <th width="200">Producto</th>
            <th width="100">Precio</th>
            <th width="100">Cantidad</th>
            <th width="100">Total</th>              
            <th width="180">Fecha</th>                              
            <th width="100">Accion</th>          
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>    
<script type="text/javascript">
var estados=[];
function list_inventario(){
  $.get(baseUrl+"ingreso/forminventariosalida",function(data){
  	let response=JSON.parse(data); 
    console.log(response);
    estados=response.estados;
    let data_ingresos=response.ingresos;
    let fila="";    
  	for (x in data_ingresos) {	  	  	
  	  fila+='<option codigo="'+data_ingresos[x].ID+'" precio="'+data_ingresos[x].PRECIOVENTA+'" value="ID='+data_ingresos[x].ID+' : '+data_ingresos[x].ITEM+'"> Precio : '+data_ingresos[x].PRECIOVENTA+' - FV : '+data_ingresos[x].FECHAVENCIMIENTO+'</option>';
  	}  
  	$("#ingreso_list").html(fila);
	});
}
list_inventario();

$(".fecha").mask("99/99/9999");
document.getElementById("inicio").value=fechaActual()
document.getElementById("final").value=fechaActual()
screenAltura("tabla_http_scroll",340);
var salidas=[];

function salidaBuscar(){
  document.getElementById("div_buscar").style.display="block";
  let data={};
  data['fecha']=document.getElementById("filtro").value;
  data['inicio']=document.getElementById("inicio").value;
  data['final']=document.getElementById("final").value;
  data['item_id']=document.getElementById("item_id").value;  
  data['status']="1";  
  tableLoader('tabla_http tbody',7);
  $.post(baseUrl+"salida/buscar",data,function(data){
    $("#tabla_http tbody").html("");      
    let response=JSON.parse(data);        
    console.log(response);
    if (response.status) {
      salidas=arrayToObj(response['data'])
      for (x in response['data']) {
        let fila='<tr id="f-'+response['data'][x].ID+'">';      
        fila+='<td>'+response['data'][x].ID+'</td>';  
        fila+='<td>'+response['data'][x].ITEM+'</td>';
        fila+='<td>'+response['data'][x].PRECIOVENTA+'</td>';
        fila+='<td>'+response['data'][x].CANTIDAD+'</td>';
        fila+='<td>'+response['data'][x].TOTAL+'</td>';          
        fila+='<td>'+response['data'][x].FECHASALIDA+'</td>';                
        fila+='<td style="text-align:center;">';        
        fila+=`<div class="dropdown">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="dropdown" data-boundary="window">
                  <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="salidaLeer(`+response['data'][x].ID+`)">Ver</a>
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="salidaEditar(`+response['data'][x].ID+`)">Editar</a>
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="salidaEliminar(`+response['data'][x].ID+`)">Eliminar</a>                    
                </div>
              </div>`;
        fila+='</td>';      
        fila+='</tr>';
        $("#tabla_http tbody").append(fila);
      }
    }else{
      let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
      $('#modal_mensaje').html(modal_conten_loader);
      $('#modal_mensaje').modal('toggle'); 
    }    
  });
}

function salidaLeer(id){  
  let modal=modalSalidaLeer(salidas[id]);  
  $('#modal_mensaje').html(modal);
  $('#modal_mensaje').modal('toggle'); 
}

function modalSalidaLeer(data){    
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-save"></i> Salida Nro : `+data.ID+`</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombre">Codigo Ingreso</label>
            <input readonly type="text" class="form-control form-control-sm" value="`+data.INGRESO_ID+`">
          </div>
          <div class="form-group">
            <label for="direccion">Item</label>
            <input readonly type="text" class="form-control form-control-sm" value="`+data.ITEM+`">
          </div>
          <div class="form-group">
            <label for="precio">Precio</label>
            <input readonly type="text" class="form-control form-control-sm" id="precio" value="`+data.PRECIOVENTA+`">
          </div>
          <div class="form-group">
            <label for="cantidad">Cantidad</label>
            <input readonly type="text" class="form-control form-control-sm" id="cantidad" value="`+data.CANTIDAD+`">
          </div>
          <div class="form-group">
            <label for="dni">Total </label>
            <input readonly type="text" class="form-control form-control-sm" id="ruc" value="`+data.TOTAL+`">
          </div>
          <div class="form-group">
            <label for="telefono">Fecha</label>
            <input readonly type="text" class="form-control form-control-sm" id="telefono" value="`+data.FECHASALIDA+`">
          </div>
        </form>
      </div>
    </div>
    </div>`;
  return modal;
}

function salidaEditar(id){  
  let modal=modalSalidaEditar(salidas[id]);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle');
  $(".fecha").mask("99/99/9999");  
  $(".fechahora").mask("99/99/9999 99:99");   
}

function modalSalidaEditar(data){
  let estado=modalLoadSelect(data.ESTADO_ID,estados);  
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-pencil-alt"></i> Editar Salida Nro : `+data.ID+`</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_salida_editar">
          <input type="hidden" name="id" value="`+data.ID+`">
          <input type="hidden" name="estado_id" value="`+data.ESTADO_ID+`">
          <input type="hidden" id="m_ingreso_id" name="ingreso_id" value="`+data.INGRESO_ID+`">        
          <div class="form-group">
          <label for="inventario_nombre">Ingreso *</label>
          <input required type="text" class="form-control form-control-sm" list="ingreso_list" id="inventario_nombre" 
              name="inventario_nombre" value="ID=`+data.INGRESO_ID+" : "+data.ITEM+`" onchange="id_ingreso_modal(this)">
          </div>
          <div class="form-group">
            <label for="m_precio">Precio *</label>
            <input required readonly type="number"  class="form-control form-control-sm" id="m_precio" 
            name="precioventa" value="`+data.PRECIOVENTA+`">
          </div>
          <div class="form-group">
            <label for="cantidad">Cantidad *</label>
            <input type="number" class="form-control form-control-sm" id="cantidad" 
            name="cantidad" value="`+data.CANTIDAD+`" onchange="montoTotal(this.value)">
          </div>
          <div class="form-group">
            <label for="total">Total *</label>
            <input type="number" readonly class="form-control form-control-sm" id="total" 
            name="total" value="`+data.TOTAL+`">
          </div>
          <div class="form-group">
            <label for="fecha">Fecha Salida *</label>
            <input type="text" class="fechahora form-control form-control-sm" id="fecha" 
            name="fecha" value="`+data.FECHASALIDA+`">
          </div>          
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-info btn-sm" onclick="salidaEditarGuardar()"><i class="fas fa-pencil-alt"></i> Editar</button>       
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>  
      </div>
    </div>
    </div>`;
  return modal;
}
   
function salidaEditarGuardar(){  
  if (formValido("form_salida_editar")){
    let data_json=objForm("form_salida_editar");        
    modalCargando();
    console.log(data_json)
    $.post(baseUrl+"salida/editar",data_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle'); 
      if (response.status){        
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');      
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        dataLocalEdit(salidas,data_json); 
        let aObjetos=[]
        aObjetos.push(data_json['id']);
        aObjetos.push(data_json['inventario_nombre'].split(":")[1].trim());                   
        aObjetos.push(data_json['precioventa']);       
        aObjetos.push(data_json['cantidad']);       
        aObjetos.push(data_json['total']);       
        aObjetos.push(data_json['fecha']);                 
        datatableRowEdit(data_json['id'],aObjetos);       
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
}

function salidaEliminar(id){  
  let modal=modalSalidaEliminar(salidas[id]);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
}

function modalSalidaEliminar(data){
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-trash-alt"></i> Eliminar Salida</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_salida_eliminar">
          <input type="hidden" name="id" value="`+data.ID+`">
        </form>
        <h6>Estas Seguro de Eliminar Item..?"</h6>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-info btn-sm" onclick="salidaEliminarGuardar()"><i class="fas fa-trash-alt"></i> Si</button>
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> No</button>
      </div>
    </div>
    </div>`;
  return modal;
}

function salidaEliminarGuardar(){
  if (formValido("form_salida_eliminar")){
    let data_json=objForm("form_salida_eliminar");
    modalCargando();
    $.post(baseUrl+"salida/eliminar",data_json,function(data){      
      let response=JSON.parse(data);      
      $('#modal_cargando').modal('toggle'); 
      if (response.status){
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');      
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        $("#f-"+data_json['id']).remove();
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
}

function id_item_modal(input) {        	 
  list = document.getElementById('item_list').options;
  let m_item_id=document.getElementById('m_item_id');
	for(x in list){      		
		if (list[x].value==input.value) {			
			let item_id=list[x].getAttribute('codigo');	      
      m_item_id.value=item_id;      
			break;
		}      		
	}
}

function id_item(input) {         	 
  list = document.getElementById('item_list').options;
  let m_item_id=document.getElementById('item_id');
	for(x in list){      		
		if (list[x].value==input.value) {			
			let item_id=list[x].getAttribute('codigo');	      
      m_item_id.value=item_id;      
			break;
		}     		
	}
}

function montoTotal(input){
  let precio=document.getElementById("m_precio").value;
  let cantidad=input;  
  let total=(precio*cantidad).toFixed(2);
  document.getElementById("total").value=total;
}

function eliminar(boton){
  $(boton).parents("tr").remove();
}

function id_ingreso_modal(input) {
  console.log("xxxxxxxxxx");
  list = document.getElementById('ingreso_list').options;
  let m_ingreso_id=document.getElementById('m_ingreso_id');
  let precio=document.getElementById('m_precio');
  let cantidad=document.getElementById('cantidad').value;
	for(x in list){      		
		if (list[x].value==input.value) {			
			let item_id=list[x].getAttribute('codigo');	      
      m_ingreso_id.value=item_id;      
      precio.value=list[x].getAttribute('precio');	
      montoTotal(cantidad);
			break;
		}      		
	}
}

exportarSalidasCsv = function() {
  var exportCvs="ID,INGRESO ID,ITEM,PRECIO,CANTIDAD,FECHA,TOTAL,ESTADO\r\n";
  for(x in salidas){
    exportCvs+=salidas[x].ID+",";
    exportCvs+=salidas[x].INGRESO_ID+",";
    exportCvs+=salidas[x].ITEM+",";
    exportCvs+=salidas[x].PRECIOVENTA+",";
    exportCvs+=salidas[x].CANTIDAD+",";
    exportCvs+=salidas[x].TOTAL;
    exportCvs+=salidas[x].FECHASALIDA;
    exportCvs+=salidas[x].ESTADO;
    exportCvs+= "\r\n";
  }

  csvString = "data:application/csv," + encodeURIComponent(exportCvs);
  var x = document.createElement("A");
  x.setAttribute("href", csvString );
  x.setAttribute("download","salidas.csv");
  document.body.appendChild(x);
  x.click();
}

exportarSalidasPdf=function(){
  // CREATE A WINDOW OBJECT.
  let win = window.open('', '', 'height=700,width=900');
  let inicio=document.getElementById("inicio").value;
  let final=document.getElementById("final").value;
  let filtro=document.getElementById("filtro").value;
  let fecha;
  if(filtro=="SALIDA_FECHA"){
    fecha="Fecha de Salida";
  }else{
    fecha="Fecha de Creacion";
  }
  let tabla="<center><h3>"+fecha+" del "+inicio+" al "+final+"</h3><center>";
  tabla+=`<table style="font-size: 12px;width: 100%;font-family: arial, sans-serif;border-collapse: collapse;">
    <thead>
      <tr>          
        <th>Id</th>
        <th>Ingreso Id</th>
        <th>Item</th>        
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>                
        <th>Fecha</th>
        <th>Estado</th>              
      </tr>
    </thead>
    <tbody>`;
  let total=0;    
  let monto=0;  
  for(x in salidas){
    tabla+="<tr>";
    tabla+="<td>"+salidas[x].ID+"</td>";
    tabla+="<td>"+salidas[x].INGRESO_ID+"</td>";
    tabla+="<td>"+salidas[x].ITEM+"</td>";    
    tabla+="<td>"+salidas[x].PRECIOVENTA+"</td>";
    tabla+="<td>"+salidas[x].CANTIDAD+"</td>";
    tabla+="<td>"+salidas[x].TOTAL+"</td>"; 
    tabla+="<td>"+salidas[x].FECHASALIDA+"</td>";   
    tabla+="<td>"+salidas[x].ESTADO+"</td>";
    tabla+="</tr>";
    total+=parseInt(salidas[x].CANTIDAD);
    monto+=parseFloat(salidas[x].TOTAL);
  }
  tabla+='<tr><td colspan="4">TOTAL DE SALIDAS</td><td>'+total+'</td><td>'+monto.toFixed(2);+'</td></tr>';
  tabla+="</tbody></table>";

  let style = "<style>";                        
  style = style + "td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 2px;}";        
  style = style + "</style>";
  win.document.write('<html><head>');
  win.document.write('<title>Salidas</title>');   // <title> FOR PDF HEADER.
  win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
  win.document.write('</head>');
  win.document.write('<body>');
  win.document.write(tabla);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
  win.document.write('</body></html>');
  win.document.close();   // CLOSE THE CURRENT WINDOW.
  win.print();    // PRINT THE CONTENTS.
}

</script>  