<div class="form-cliente" id="form-cliente"> 
  <div class="form-cabecera">
    <h4>Registrar Salidas </h4>
  </div>  
  <datalist id="inventario_list">
  </datalist>
  <div class="table-responsive" id="tabla_http_scroll">
    <table class="table table-sm" id="tabla_http">
      <thead>
        <tr>        
          <th width="100">Nro Ingreso</th> 
          <th width="180">Item</th>                            
          <th width="100">Precio</th>
          <th width="100">Cantidad</th>                 
          <th width="100">Total</th>
          <th width="140">Fecha</th>
          <th width="80"><button class="btn btn-primary btn-sm" onclick="inventarioAddRow()"><i class="fas fa-plus"></i></button></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
<style>
  .t_input{
    padding-left: 2px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #BDBDBD;
  }
 
</style>
<script>
screenAltura("form-cliente",200);
screenAltura("tabla_http_scroll",290);  
var data_ingresos;
function list_inventario(){
  $.get(baseUrl+"ingreso/forminventariosalida",function(data){
    let response=JSON.parse(data);     
    data_ingresos=response.ingresos;
    let fila="";    
    for (x in data_ingresos) {          
      fila+='<option codigo="'+data_ingresos[x].ID+'" precio="'+data_ingresos[x].PRECIOVENTA+'" value="ID='+data_ingresos[x].ID+' : '+data_ingresos[x].ITEM+'"> Precio : '+data_ingresos[x].PRECIOVENTA+' - FV : '+data_ingresos[x].FECHAVENCIMIENTO+'</option>';       
    }  
    $("#inventario_list").html(fila);
  });
}
list_inventario();

function inventarioAddRow(){    
  let fechayhora=fechaHoraActual();  
  let fecha=fechaActual();  

  let row='<tr>';
    row+='<td><input class="t_input" readonly value="Sin Id"></td>';  
    row+='<td><input class="t_input" readonly onclick="IngresoId(this)" placeholder="Seleccionar Ingreso"></td>';    
    row+='<td><input type="number" class="t_input" name="precio" value="0"></td>';   
    row+='<td><input type="number" class="t_input" onchange="calcularVuelto(this)" name="cantidad" min="0" value="0"></td>';   
    row+='<td><input type="number" readonly class="t_input" name="total" value="0"></td>';     
    row+='<td><input type="text" class="t_input fechahora" name="fechaingreso" value="'+fechayhora+'"></td>'; 
    row+='<td>';
    row+='<button onclick="tableSalidaRegistrar(this)" class="btn btn-success btn-sm" data-toggle="tooltip" title="Guardar"><i class="fa fa-plus"></i></button>&nbsp';
    row+='<button onclick="eliminar(this)" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Eliminar"><i class="fas fa-trash"></i></button>';
    row+='</td>';
    row+='</tr>';
  $("#tabla_http tbody").append(row);  
  $(".fecha").mask("99/99/9999");
  $(".fechahora").mask("99/99/9999 99:99");
} 

function calcularVuelto(input){
  let filainputs=$(input).parents("tr").find("input");   
  console.log(filainputs)   
  let saldo=parseInt(modal_item_saldo);  
  let precio=filainputs[2].value;  
  let cantidad=parseInt(filainputs[3].value);
  console.log("SALDO"+ saldo)  
  console.log("CANTIDAD"+ cantidad)  
  if (cantidad>saldo){
    alert("Saldo Insuficiente");
    filainputs[3].value=0;
    filainputs[4].value=0;
  }else{
    filainputs[4].value=precio*cantidad;
  }
}

function id_item(input) {          
  list = document.getElementById('item_list').options;
  for(x in list){         
    if (list[x].value==input.value) {     
      let item_id=list[x].getAttribute('codigo'); 
      let filainputs=$(input).parents("tr").find("input");      
      filainputs[0].value=item_id;      
      break;
    }         
  }
}

function id_item_modal(input) {          
  list = document.getElementById('item_list').options;
  let m_item_id=document.getElementById('m_item_id');
  for(x in list){         
    if (list[x].value==input.value) {     
      let item_id=list[x].getAttribute('codigo');       
      m_item_id.value=item_id;      
      break;
    }         
  }
}

function tableSalidaRegistrar(boton){

  let filaInputs=$(boton).parents("tr").find("input");  
  let ingreso_id=filaInputs[0].value;
  let item_name=filaInputs[1].value;  
  let precioventa=filaInputs[2].value;
  let cantidad=filaInputs[3].value;
  let fecha=filaInputs[5].value;    

  let filaSelects=$(boton).parents("tr").find("select");  
  
  let obj_json={};
  obj_json['ingreso_id']=ingreso_id;  
  obj_json['precioventa']=precioventa;
  obj_json['cantidad']=cantidad;
  obj_json['fecha']=fecha;  
  obj_json['estado_id']=1;  
  if(ingreso_id!=""&&precioventa!=0&&fecha!=""&&cantidad!=0){
    modalCargando();
    $.post(baseUrl+"salida/crear",obj_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle'); 
      if (response.status){
        //Recorrer par actualziar        
        for (x in data_ingresos){
          if(parseInt(data_ingresos[x].ID)==parseInt(ingreso_id)){
            data_ingresos[x].SALDO=parseInt(data_ingresos[x].SALDO)-parseInt(cantidad);
            break;
          }
        }
        let serverSalidaId=response.salida_id;
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle'); 
        let fila='<td>'+ingreso_id+'</td>';          
          fila+='<td>'+item_name+'</td>';          
          fila+='<td>'+precioventa+'</td>';
          fila+='<td>'+cantidad+'</td>';
          fila+='<td>'+(precioventa*cantidad)+'</td>';
          fila+='<td>'+fecha+'</td>';          
          fila+='<td>';
          fila+='<button onclick="tableSalidaEditar('+serverSalidaId+')" class="btn btn-success btn-sm" data-toggle="tooltip" title="Editar"><i class="fas fa-pen"></i></button>&nbsp';
          fila+='<button onclick="tableSalidaEliminar('+serverSalidaId+')" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Eliminar"><i class="fas fa-trash"></i></button></td>';
          fila+='</td>';
        $(boton).parents("tr").attr("id","f-"+serverSalidaId);
        $(boton).parents("tr").html(fila);     
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    });
  }else{
    alert("Ingresar todos los datos")
  } 
}

function tableSalidaEditar(id){
  let filaData=$("#f-"+id).find("td");
  let data={};
  data["id"]=id;
  data["ingreso_id"]=filaData[0].innerHTML;
  data["item_nombre"]=filaData[1].innerHTML;  
  data["precioventa"]=filaData[2].innerHTML;
  data["cantidad"]=filaData[3].innerHTML;
  data["total"]=filaData[4].innerHTML;
  data["fecha"]=filaData[5].innerHTML;    
  let modal=modalSalidaEditar(data);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle');
  $(".fechahora").mask("99/99/9999 99:99"); 
}

function modalSalidaEditar(data){  
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-pencil-alt"></i> Editar Salida</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_salida_editar">
          <input type="hidden" name="id" value="`+data.id+`">
          <input type="hidden" id="m_ingreso_id" name="ingreso_id" value="`+data.ingreso_id+`">        
          <div class="form-group">
          <label for="inventario_nombre">Ingreso *</label>
          <input required type="text" class="form-control form-control-sm" list="inventario_list" id="inventario_nombre" 
              name="inventario_nombre" value="ID=`+data.id+" : "+data.item_nombre+`" onchange="id_inventario_modal(this)">
          </div>
          <div class="form-group">
            <label for="m_precio">Precio *</label>
            <input required readonly type="number"  class="form-control form-control-sm" id="m_precio" 
            name="precioventa" value="`+data.precioventa+`">
          </div>
          <div class="form-group">
            <label for="cantidad">Cantidad</label>
            <input type="number" class="form-control form-control-sm" id="cantidad" 
            name="cantidad" value="`+data.cantidad+`" onchange="montoTotal(this.value)">
          </div>
          <div class="form-group">
            <label for="total">Total</label>
            <input type="number" readonly class="form-control form-control-sm" id="total" 
            name="total" value="`+data.total+`">
          </div>
          <div class="form-group">
            <label for="fecha">Fecha Ingreso:</label>
            <input type="text" class="form-control form-control-sm fechahora" id="fecha" 
            name="fecha" value="`+data.fecha+`">
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-info btn-sm"" onclick="salidaEditarGuardar()"><i class="fas fa-pencil-alt"></i> Editar</button>       
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>  
      </div>
    </div>
    </div>`;
  return modal;
}

function salidaEditarGuardar(){  
  if (formValido("form_salida_editar")){
    let data_json=objForm("form_salida_editar");
    data_json['estado_id']=1;    
    modalCargando();
    $.post(baseUrl+"salida/editar",data_json,function(data){      
      let response=JSON.parse(data);
      console.log(response)
      $('#modal_cargando').modal('toggle');
      if (response.status){
        list_inventario();
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        let fila='<td>'+data_json.ingreso_id+'</td>';          
          fila+='<td>'+data_json.inventario_nombre.split(":")[1].trim()+'</td>';          
          fila+='<td>'+data_json.precioventa+'</td>';
          fila+='<td>'+data_json.cantidad+'</td>';
          fila+='<td>'+data_json.total+'</td>';
          fila+='<td>'+data_json.fecha+'</td>';          
          fila+='<td>';
          fila+='<button onclick="tableSalidaEditar('+data_json.id+')" class="btn btn-success btn-sm" data-toggle="tooltip" title="Editar"><i class="fas fa-pen"></i></button>&nbsp';
          fila+='<button onclick="tableSalidaEliminar('+data_json.id+')" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Eliminar"><i class="fas fa-trash"></i></button></td>';
          fila+='</td>';
        $("#f-"+data_json.id).html(fila);        
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
}

function id_item_modal(input) {          
  list = document.getElementById('item_list').options;
  let m_item_id=document.getElementById('m_item_id');
  for(x in list){         
    if (list[x].value==input.value) {     
      let item_id=list[x].getAttribute('codigo');       
      m_item_id.value=item_id;      
      break;
    }         
  }
}

function tableSalidaEliminar(id){
  let modal=modalSalidaEliminar(id);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
}


function modalSalidaEliminar(id){
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-trash-alt"></i> Eliminar Salida</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_salida_eliminar">
          <input type="hidden" name="id" value="`+id+`">
        </form>
        <h6>Estas Seguro de Eliminar Salida..?"</h6>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-info btn-sm" onclick="salidaEliminarGuardar()"><i class="fas fa-trash-alt"></i> Si</button>       
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> No</button>  
      </div>
    </div>
    </div>`;
  return modal;
}

function salidaEliminarGuardar(){
  if (formValido("form_salida_eliminar")){
    let data_json=objForm("form_salida_eliminar");
    modalCargando();
    $.post(baseUrl+"salida/eliminar",data_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle');      
      if (response.status){
        list_inventario();
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');      
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        $("#f-"+data_json['id']).remove();
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
}


var modal_item_id=0;
var modal_item_name="";
var modal_item_saldo=0;
var modal_item_precio=0;
var fila_seleccionada;
function activarFilaItem(){
  console.log("activo");
  $("#tabla_modal_http tbody tr").click(function () {
    $('.table-primary').removeClass('table-primary');
    $(this).addClass("table-primary");    
    let x=$(this).find("td");    
    modal_item_id=x[0].innerHTML;
    modal_item_name=x[1].innerHTML;
    modal_item_saldo=x[3].innerHTML;
    modal_item_precio=x[4].innerHTML;
  });
}

function IngresoId(fila){  
  let datahtml="";
  for (x in data_ingresos){
    datahtml+='<tr ondblclick="modalSeleccionarFila()">';
    datahtml+='<td>'+data_ingresos[x].ID+'</td>';
    datahtml+='<td>'+data_ingresos[x].ITEM+'</td>';
    datahtml+='<td>'+data_ingresos[x].PRESENTACION+'</td>';    
    datahtml+='<td>'+data_ingresos[x].SALDO+'</td>';
    datahtml+='<td>'+data_ingresos[x].PRECIOVENTA+'</td>';
    datahtml+='<td>'+data_ingresos[x].FECHAVENCIMIENTO+'</td>';
    datahtml+='<td>'+data_ingresos[x].CATEGORIA+'</td>';
    datahtml+='<td>'+data_ingresos[x].LABORATORIO+'</td>';
    datahtml+='<td>'+data_ingresos[x].PROVEEDOR+'</td>';
    datahtml+='<tr>';
  }
  
  let modal=modalIngresoId(datahtml);
  fila_seleccionada=fila;  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
  activarFilaItem();
  screenAltura("tabla_modal_http_scroll",370);
}

function modalIngresoId(datahtml){
  let modal=`<div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Stock</h4>        
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control form-control-sm" id="txt_modal_buscar" onkeyup="BuscarFilaTabla('tabla_modal_http','txt_modal_buscar')" placeholder="Buscar Item">
        <div class="table-responsive" id="tabla_modal_http_scroll">
        <table class="table table-sm" id="tabla_modal_http">
            <thead>
                <tr>
                <th width="50">Id</th> 
                <th width="250">Item</th>          
                <th width="150">Presentacion</th>                          
                <th width="100">Saldo</th>                 
                <th width="120">Precio</th>     
                <th width="150">F Vencimiento</th>                  
                <th width="250">Categoria</th>         
                <th width="180">Laboratorio</th>  
                <th width="180">Proveedor</th>          
                </tr>
            </thead>
            <tbody>`+datahtml+`</tbody>
        </table>
        </div>        
      </div>
     
    </div>
    </div>`;
  return modal;
}

function modalSeleccionarFila(){
  let selecionado=$("#tabla_modal_http tbody .table-primary").length
  if(selecionado==1){    
    let filatabla=$(fila_seleccionada).parents("tr").find("input");      
    filatabla[0].value=modal_item_id;
    filatabla[1].value=modal_item_name; 
    filatabla[2].value=modal_item_precio;     
    $('#modal_formulario').html("");
    $('#modal_formulario').modal('toggle');    
  }else{
    alert("Seleccione al Menos un Item");
  } 
}


function montoTotal(input){
  let precio=document.getElementById("m_precio").value;
  let cantidad=input;  
  let total=precio*cantidad;
  document.getElementById("total").value=total;
}

function eliminar(boton){
  $(boton).parents("tr").remove();
}

function id_inventario_modal(input) {      ;
  list = document.getElementById('inventario_list').options;
  let m_ingreso_id=document.getElementById('m_ingreso_id');
  let precio=document.getElementById('m_precio');
  let cantidad=document.getElementById('cantidad').value;
  for(x in list){         
    if (list[x].value==input.value) {     
      let item_id=list[x].getAttribute('codigo');       
      m_ingreso_id.value=item_id;      
      precio.value=list[x].getAttribute('precio');  
      montoTotal(cantidad);
      break;
    }         
  }
}
</script>