<div class="form-cliente" id="form-cliente"> 
  <div class="form-cabecera">
    <h4>Nuevo Colaborador</h4>
  </div> 
  <hr> 
  <div class="container-fluid">
    <form id="form_colaborador_registrar">
      <div class="row">
        <div class="col-sm-6">          
          <div class="form-group">
            <label for="nombres">Nombres *</label>
            <input required type="text" class="form-control form-control-sm" id="nombres" name="nombres" placeholder="Ingresar Nombres">
          </div>
          <div class="form-group">
            <label for="apaterno">Apellido Paterno *</label>
            <input required type="text" class="form-control form-control-sm" id="apaterno" name="apaterno" placeholder="Ingresar Apellido Paterno">
          </div>
          <div class="form-group">
            <label for="amaterno">Apellido Materno *</label>
            <input required type="text" class="form-control form-control-sm" id="amaterno" name="amaterno" placeholder="Ingresar Apellido Materno">
          </div>
        </div>
        <div class="col-sm-6">  
          <div class="form-group">
              <label for="dni">Dni *</label>
              <input requerid type="number" class="form-control form-control-sm" id="dni" name="dni" placeholder="Ingresar Dni">
            </div>  
          <div class="form-group">
            <label for="correo">Correo </label>
            <input type="text" class="form-control form-control-sm" id="correo" name="correo" placeholder="Ingresar Correo">
          </div>
          <div class="form-group">
            <label for="telefono">Telefono</label>
            <input type="number" class="form-control form-control-sm" id="telefono" name="telefono" placeholder="Ingresar Telefono">
          </div>
        </div>
      </div>  
    </form>
  </div>  
  <button  class="btn btn-primary btn-sm btn-block" onclick="formColaboradorRegistrar()"><i class="fas fa-save"></i> Guardar Datos</button>
</div>
  
<script type="text/javascript">
  screenAltura("form-cliente",200);
  function formColaboradorRegistrar(){
    if (formValido("form_colaborador_registrar")){    
      let data_json=objForm("form_colaborador_registrar");        
      modalCargando();
      $.post(baseUrl+"empleado/crear",data_json,function(data){      
        let response=JSON.parse(data);
        $('#modal_cargando').modal('toggle');
        if (response.status){        
          let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
          $('#modal_mensaje').html(modal_conten_loader);
          $('#modal_mensaje').modal('toggle'); 
          clearInputsForm("form_colaborador_registrar input");       
        }else{        
          let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
          $('#modal_mensaje').html(modal_conten_loader);
          $('#modal_mensaje').modal('toggle');      
        }
      }); 
    }  
  }
  
</script>