<div class="form-cliente">
  <div class="form-cabecera">
    <h4>Nuevo Usuario</h4>
  </div> 
  <hr> 
  <datalist id="colaboradores_list">
  </datalist>
  <form id="form_usuario_registrar"> 
    <div class="form-group">
      <label for="tipo_id">Tipo *</label>
      <select class="form-control" name="tipo_id" id="tipo_id">        
      </select>
    </div>

    <div class="form-group">
        <label for="empleado">Colaborador *</label>
        <input required type="hidden" name="empleado_id" id="empleado_id">  
        <input required class="form-control" list="colaboradores_list" id="empleado" onchange="colaborador_list_id(this)" placeholder="Ingresar Datos del Colaborador">      
        </select>
    </div>

    <div class="form-group">
      <label for="usuario">Usuario *</label>
      <input required type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingresar Usuario">
    </div>
  </form>
  <button  class="btn btn-primary btn-block" onclick="formUsuarioRegistrar()"><i class="fas fa-save"></i> Guardar Datos</button>
</div>
<script type="text/javascript">

function dataFromNuevoUsuario(){
  $.get(baseUrl+"usuario/formcrear",function(data){          
    let response=JSON.parse(data);    
    if(response['status']){
      let tipoOptions="";
      let tipos=response['tipos'];
      for(x in tipos){      
        tipoOptions+='<option value="'+tipos[x].ID+'">'+tipos[x].NOMBRE+'</option>';
      }    
      document.getElementById("tipo_id").innerHTML=tipoOptions;
      let listEmpleados="";
      let colaboradores=response['empleados'];
      for(x in colaboradores){            
        listEmpleados+='<option codigo="'+colaboradores[x].ID+'" value="'+colaboradores[x].NOMBRE+'"/>';	  	  
      }    
      document.getElementById("colaboradores_list").innerHTML=listEmpleados;   
    }else{
      alert("Ocurrio un Error En la Conexion");
    }
  });
}

dataFromNuevoUsuario(); 

function colaborador_list_id(input) {        	 
  list = document.getElementById('colaboradores_list').options;
	for(x in list){      		
		if (list[x].value==input.value) {			
			let empleado_id=list[x].getAttribute('codigo');	      
      document.getElementById('empleado_id').value=empleado_id;      
			break;
		}      		
	}
}

function formUsuarioRegistrar(){
  if (formValido("form_usuario_registrar")){    
    let data_json=objForm("form_usuario_registrar");        
    modalCargando();
    $.post(baseUrl+"usuario/crear",data_json,function(data){      
      $('#modal_cargando').modal('toggle');  
      let response=JSON.parse(data);      
      if (response.status){
        dataFromNuevoUsuario();
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');        
        clearInputsForm("form_usuario_registrar input");
      }else{        
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
}

</script>