<div class="form-cliente">
  <div class="form-cabecera">
    <h4>Lista de Usuarios</h4>
  </div> 
  <hr>
  <div class="container-fluid">
    <datalist id="colaboradores_list">
    </datalist>
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Filtro</span>
          </div>
          <select class="form-control" id="filtro">
            <option value="a.USUARIO">Usuario</option>
            <option value="b.NOMBRES">Nombre</option>          
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">      
          <input type="text" class="form-control" id="filtro_input" placeholder="Dato a Buscar">
        </div>
      </div>  
      <div class="col-sm-3">
        <div class="input-group">
          <button class="btn btn-primary btn-block" onclick="usuarioListar()">Buscar</button>
        </div>
      </div>
      <div class="col-sm-3" id="div_buscar" style="display: none">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input type="text" class="form-control" id="txt_buscar" onkeyup="BuscarFilaTabla('tabla_http','txt_buscar')">
          <div class="input-group-prepend">        
            <span class="input-group-text" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></span>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="javascript:void(0)" onclick="exportarUsuariosCsv()">Exportar CVS</a>
              <a class="dropdown-item" href="javascript:void(0)" onclick="exportarUsuariosPdf()">Exportar PDF</a>          
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="table-responsive" id="tabla_http_scroll">
        <table class="table table-hover" id="tabla_http">
          <thead>
            <tr>          
              <th width="200">Perfil</th>
              <th width="120">Usuario</th>
              <th width="220">Colaborador</th>
              <th width="120">Estado</th>
              <th width="80">Accion</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
  </div>
</div>  
  
<script type="text/javascript">

var perfiles=[];
var colaboradores=[];

function dataFromEditarUsuario(){
  $.get(baseUrl+"usuario/formeditar",function(data){          
    let response=JSON.parse(data);  
    if(response['status']){

      perfiles=[];
      let _tipos=response['tipos'];
      for(x in _tipos){
        perfiles[_tipos[x].ID]=_tipos[x];
      }

      colaboradores=[];    
      let _colaboradores=response['empleados'];
      console.log(_colaboradores);
      for(x in _colaboradores){        
        colaboradores[_colaboradores[x].ID]=_colaboradores[x];
      }                 
        
    }else{
      alert("Ocurrio un Error En la Conexion");
    }
  });
}

dataFromEditarUsuario(); 

screenAltura("tabla_http_scroll",340);

var usuarios=[];

function usuarioListar(){
    document.getElementById("div_buscar").style.display="block";
    let data={};
    data['filtro']=document.getElementById("filtro").value;
    data['input_filtro']=document.getElementById("filtro_input").value;        
    tableLoader('tabla_http tbody',4);
    $.post(baseUrl+"usuario/buscar",data,function(data){
      $("#tabla_http tbody").html("");
      let response=JSON.parse(data);        
      if (response.estado) {
        for (x in response['data']) {
          usuarios[response['data'][x].ID]=response['data'][x];         
          let fila='<tr id="f-'+response['data'][x].ID+'">';      
          fila+='<td>'+response['data'][x].PERFIL+'</td>';  
          fila+='<td>'+response['data'][x].USUARIO+'</td>';
          fila+='<td>'+response['data'][x].COLABORADOR+'</td>';
          fila+='<td>'+response['data'][x].ESTADO+'</td>';        
          fila+='<td style="text-align:center;">';        
          fila+=`<div class="dropdown">
                  <button type="button" class="btn btn-primary" data-toggle="dropdown" data-boundary="window">
                    <i class="fas fa-cog"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:void(0)" 
                      onclick="usuarioLeer(`+response['data'][x].ID+`)">Ver</a>
                    <a class="dropdown-item" href="javascript:void(0)" 
                      onclick="usuarioEditar(`+response['data'][x].ID+`)">Editar</a>
                    <a class="dropdown-item" href="javascript:void(0)" 
                      onclick="usuarioResetearClave(`+response['data'][x].ID+`)">Resetear Clave</a>  
                  </div>
                </div>`;
          fila+='</td>';      
          fila+='</tr>';
          $("#tabla_http tbody").append(fila);
        }
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle'); 
      }    
    });
}

function usuarioLeer(id){  
  let modal=modalUsuarioLeer(usuarios[id]);  
  $('#modal_mensaje').html(modal);
  $('#modal_mensaje').modal('toggle'); 
}

function modalUsuarioLeer(data){
  let modal=`<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Datos Cliente</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Perfil</label>
            <input readonly type="text" class="form-control" value="`+data.PERFIL+`">
          </div>
          <div class="form-group">
            <label>Usuario</label>
            <input readonly type="text" class="form-control" value="`+data.USUARIO+`">
          </div>
          <div class="form-group">
            <label>Nombres</label>
            <input readonly type="text" class="form-control" value="`+data.COLABORADOR+`">            
          </div>
          
          <div class="form-group">
            <label>Estado</label>    
            <input readonly type="text" class="form-control" value="`+data.ESTADO+`">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
    </div>`;
  return modal;
}

function usuarioEditar(id){  
  let modal=modalUsuarioEditar(usuarios[id]);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
}

function modalUsuarioEditar(data){
  let estado;
  if(data.ESTADO=="ACTIVO"){
    estado='<option value="ACTIVO">ACTIVO</option><option value="INACTIVO">INACTIVO</option>';
  }else{
    estado='<option value="INACTIVO">INACTIVO</option><option value="ACTIVO">ACTIVO</option>';
  } 
  let perfil=modalLoadSelect(data.TIPO_ID,perfiles);  
  modalLoadList("colaboradores_list",colaboradores,data.EMPLEADO_ID,data.COLABORADOR);
  let modal=`<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Usuario</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_usuario_editar">
          <div class="form-group">
            <input type="hidden" name="id" value="`+data.ID+`">
            <label for="tipo_id">Perfil *</label>
            <select class="form-control" id="tipo_id" name="tipo_id" nameSelect="perfil">
              `+perfil+`
            </select>
          </div>
          <div class="form-group">
            <label for="usuario">Usuario *</label>
            <input required type="text" class="form-control" id="usuario" 
              name="usuario" value="`+data.USUARIO+`">
          </div>
          <div class="form-group">            
            <label for="nombres">Colaborador *</label>                          
            <input required type="hidden" name="empleado_id" id="empleado_id" value="`+data.EMPLEADO_ID+`">  
            <input required class="form-control" list="colaboradores_list" name="colaborador" id="empleado" onchange="colaborador_list_id(this)" value="`+data.COLABORADOR+`">      
          </div>
          <div class="form-group">
            <label for="estado_id">Estado *</label>    
            <select class="form-control" id="estado_id" name="estado_id" nameSelect="estado">
              `+estado+`
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-success" onclick="usuarioEditarGuardar()">Editar</button>       
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>        
      </div>
    </div>
    </div>`;
  return modal;
}

function usuarioEditarGuardar(){   
  if (formValido("form_usuario_editar")){    
    let data_json=objForm("form_usuario_editar");            
    modalCargando();
    $.post(baseUrl+"usuario/editar",data_json,function(data){      
      let response=JSON.parse(data);      
      $('#modal_cargando').modal('toggle'); 
      if (response.estado){
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');      
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        dataLocalEdit(usuarios,data_json);
        let aObjetos=[]
        aObjetos.push(data_json['perfil']);
        aObjetos.push(data_json['usuario']);
        aObjetos.push(data_json['colaborador']);        
        aObjetos.push(data_json['estado']);        
        datatableRowEdit(data_json['id'],aObjetos);
        dataFromEditarUsuario(); 
      }else{        
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    });
  } 
}

function colaborador_list_id(input) {        	 
  list = document.getElementById('colaboradores_list').options;
	for(x in list){      		
		if (list[x].value==input.value) {			
			let empleado_id=list[x].getAttribute('codigo');	      
      document.getElementById('empleado_id').value=empleado_id;      
			break;
		}      		
	}
}
function usuarioResetearClave(id){  
  let modal=modalUsuarioResetearClave(usuarios[id]);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
}

function modalUsuarioResetearClave(data){
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Resetear Clave</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_usuario_resetar">
          <input type="hidden" name="id" value="`+data.ID+`">
          <input type="hidden" name="usuario" value="`+data.USUARIO+`">
        </form>
        <h6>Resetear Clave para `+data.USUARIO+` ..?</h6>
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-success" onclick="usuarioResetearClaveGuardar()">Si</button>       
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>        
      </div>
    </div>
    </div>`;
  return modal;
}

function usuarioResetearClaveGuardar(){
  if (formValido("form_usuario_resetar")){  
    let data_json=objForm("form_usuario_resetar");    
    console.log(data_json);  
    modalCargando();
    $.post(baseUrl+"usuario/resetear",data_json,function(data){      
      let response=JSON.parse(data);      
      $('#modal_cargando').modal('toggle'); 
      if (response.estado){        
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');      
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');        
      }else{        
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
}

exportarUsuariosCsv = function() {
  var exportCvs="PERFIL,USUARIO,COLABORADOR,ESTADO\r\n";
  for(x in usuarios){
    exportCvs+=usuarios[x].PERFIL+",";
    exportCvs+=usuarios[x].USUARIO+",";
    exportCvs+=usuarios[x].COLABORADOR+",";
    exportCvs+=usuarios[x].ESTADO+",";    
    exportCvs+= "\r\n";
  }

  csvString = "data:application/csv," + encodeURIComponent(exportCvs);
  var x = document.createElement("A");
  x.setAttribute("href", csvString );
  x.setAttribute("download","usuarios.csv");
  document.body.appendChild(x);
  x.click();
}

exportarUsuariosPdf=function(){
    // CREATE A WINDOW OBJECT.
        let win = window.open('', '', 'height=700,width=900');
        let tabla=`<table style="font-size: 12px;width: 100%;font-family: arial, sans-serif;border-collapse: collapse;">
          <thead>
            <tr>          
              <th>Perfil</th>
              <th>Usuario</th>
              <th>Colaborador</th>              
              <th>Estado</th>              
            </tr>
          </thead>
          <tbody>`;
        for(x in usuarios){
          tabla+="<tr>";
          tabla+="<td>"+usuarios[x].PERFIL+"</td>";
          tabla+="<td>"+usuarios[x].USUARIO+"</td>";
          tabla+="<td>"+usuarios[x].COLABORADOR+"</td>";
          tabla+="<td>"+usuarios[x].ESTADO+"</td>";          
          tabla+="</tr>";
        }
        tabla+="</tbody></table>";
        let style = "<style>";                        
        style = style + "td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 2px;}";        
        style = style + "</style>";
        win.document.write('<html><head>');
        win.document.write('<title>Usuarios</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(tabla);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');
        win.document.close();   // CLOSE THE CURRENT WINDOW.
        win.print();    // PRINT THE CONTENTS.
}


</script>  