<div class="form-cliente" id="form-cliente"> 
  <div class="form-cabecera">
    <h4>Nuevo Producto</h4>
  </div> 
  <hr> 
  <form id="form_item_registrar">    
    <div class="form-group">
      <label for="nombre">Nombre *</label>
      <input required type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresar Nombre">
    </div>
    <div class="form-group">
      <label for="laboratorio_id">Laboratorio *</label>    
      <select class="form-control" id="laboratorio_id" name="laboratorio_id">
        <option>Cargando..!</option>
      </select>
    </div>   
    <div class="form-group">
      <label for="proveedor_id">Proveedor *:</label>    
      <select class="form-control" id="proveedor_id" name="proveedor_id">
        <option>Cargando..!</option>
      </select>
    </div>
    <div class="form-group">
      <label for="presentacion_id">Presentacion *:</label>
      <select class="form-control" id="presentacion_id" name="presentacion_id">
        <option>Cargando..!</option>
      </select>
    </div>
    <div class="form-group">
      <label for="categoria_id">Categoria *</label>
      <select class="form-control" id="categoria_id" name="categoria_id">
        <option>Cargando..!</option>
      </select>
    </div>
  </form>
  <button class="btn btn-primary btn-block" onclick="formItemRegistrar()"><i class="fas fa-save"></i> Guardar Datos</button>
</div>

<script type="text/javascript">  
function datosFormItemRegistrar(){  
  $.get(baseUrl+"item/formeditar",function(data){      
    let response=JSON.parse(data);   
    console.log(response)
    loadSelectNew("laboratorio_id",response['laboratorios']); 
    loadSelectNew("proveedor_id",response['proveedores']); 
    loadSelectNew("presentacion_id",response['presentaciones']); 
    loadSelectNew("categoria_id",response['categorias']); 
  });     
}  
datosFormItemRegistrar();
screenAltura("form-cliente",200);
function formItemRegistrar(){
  if (formValido("form_item_registrar")){    
    let data_json=objForm("form_item_registrar");  
    console.log(data_json);  
    modalCargando();   
    $.post(baseUrl+"item/crear",data_json,function(data){      
      let response=JSON.parse(data);
      console.log(response); 
      $('#modal_cargando').modal('toggle');
      if (response.estado){
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle'); 
        clearInputsForm("form_item_registrar input");         
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
  
}

</script>