<div class="form-cliente" id="form-cliente"> 
  <div class="form-cabecera">
    <h4>Nuevo Producto</h4>
  </div> 
  <hr> 
  <form id="form_item_registrar">    
    <div class="form-group">
      <label for="nombre">Nombre *</label>
      <input required type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresar Nombre">
    </div>
    <div class="form-group">
      <label for="preciocompra">Precio Compra *</label>
      <input required type="number" class="form-control" id="preciocompra" name="preciocompra" 
        placeholder="Ingresar Precio Compra">
    </div>
    <div class="form-group">
      <label for="precioventa">Precio Venta *</label>
      <input required type="number" class="form-control" id="precioventa" name="precioventa" 
        placeholder="Ingresar Precio Venta">
    </div> 
    <div class="form-group">
      <label for="laboratorio_id">Laboratorio *</label>    
      <select class="form-control" id="laboratorio_id" name="laboratorio_id">
      </select>
    </div>   
    <div class="form-group">
      <label for="proveedor_id">Proveedor *:</label>    
      <select class="form-control" id="proveedor_id" name="proveedor_id">
      </select>
    </div>
    <div class="form-group">
      <label for="item_tipo_id">Presentacion *:</label>
      <select class="form-control" id="item_tipo_id" name="item_tipo_id">
      </select>
    </div>
    <div class="form-group">
      <label for="item_categoria_id">Categoria *</label>
      <select class="form-control" id="item_categoria_id" name="item_categoria_id">
      </select>
    </div>
    <div class="form-group">
      <label for="estado">Estado *</label>    
      <select class="form-control" id="estado" name="estado">
        <option value="ACTIVO">ACTIVO</option>
        <option value="INACTIVO">INACTIVO</option>
      </select>
    </div>
  </form>
  <button class="btn btn-primary btn-block" onclick="formItemRegistrar()"><i class="fas fa-save"></i> Guardar Datos</button>
</div>

<script type="text/javascript">  
function datosFormItemRegistrar(){  
  $.get(baseUrl+"item/formitemregistrar",function(data){      
    let response=JSON.parse(data);    
    console.log(response);
    let selectLaboratorio=document.getElementById("laboratorio_id");
    let laboratoriosOptions="";
    let laboratorios=response.laboratorios;    
    for(x in laboratorios){
      laboratoriosOptions+='<option value="'+laboratorios[x].LABORATORIO_ID+'">'+laboratorios[x].LABORATORIO_NOMBRE+'</option>';
    }    
    selectLaboratorio.innerHTML=laboratoriosOptions;

    let selectProveedor=document.getElementById("proveedor_id");
    let proveedoresOptions="";
    let proveedores=response.proveedores;    
    for(x in proveedores){
      proveedoresOptions+='<option value="'+proveedores[x].PROVEEDOR_ID+'">'+proveedores[x].PROVEEDOR_NOMBRE+'</option>';
    }    
    selectProveedor.innerHTML=proveedoresOptions;

    let selectItemTipo=document.getElementById("item_tipo_id");
    let ItemTipoOptions="";
    let itemtipos=response.itemtipos;    
    for(x in itemtipos){
      ItemTipoOptions+='<option value="'+itemtipos[x].ITEM_TIPO_ID+'">'+itemtipos[x].ITEM_TIPO_NOMBRE+'</option>';
    }    
    selectItemTipo.innerHTML=ItemTipoOptions;

    let selectItemCategoria=document.getElementById("item_categoria_id");
    let ItemCategoriaOptions="";
    let itemcategorias=response.itemcategorias;    
    for(x in itemcategorias){
      ItemCategoriaOptions+='<option value="'+itemcategorias[x].ITEM_CATEGORIA_ID+'">'+itemcategorias[x].ITEM_CATEGORIA_NOMBRE+'</option>';
    }    
    selectItemCategoria.innerHTML=ItemCategoriaOptions;
  });     
}  
datosFormItemRegistrar();
screenAltura("form-cliente",200);
function formItemRegistrar(){
  if (formValido("form_item_registrar")){    
    let data_json=objForm("form_item_registrar");    
    modalCargando();   
    $.post(baseUrl+"item/crear",data_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle');
      if (response.estado){
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle'); 
        clearInputsForm("form_item_registrar input");         
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
  
}

</script>