<div class="form-cliente">
  <div class="form-cabecera">
    <h4>Administrar Presentacion de Productos</h4>
  </div> 
  <hr>
  <div class="container-fluid">    
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <button class="btn btn-primary btn-block" onclick="itemTipoRegistrar()">Registrar Tipo</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">      
          <input type="text" class="form-control" id="filtro_input" placeholder="Digitar Nombre">
        </div>
      </div>  
      <div class="col-sm-3">
        <div class="input-group">
          <button class="btn btn-primary btn-block" onclick="itemTiposBuscar()">Buscar</button>
        </div>
      </div>
      <div class="col-sm-3" id="div_buscar" style="display: none">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input type="text" class="form-control" id="txt_buscar" onkeyup="BuscarFilaTabla('tabla_http','txt_buscar')">
          <div class="input-group-prepend">        
            <span class="input-group-text" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></span>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="javascript:void(0)" onclick="exportarItemTiposCsv()">Exportar CVS</a>
              <a class="dropdown-item" href="javascript:void(0)" onclick="exportarItemTiposPdf()">Exportar PDF</a>          
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <div class="table-responsive" id="tabla_http_scroll">
      <table class="table table-hover" id="tabla_http">
        <thead>
          <tr>          
            <th width="200">Nombre</th>            
            <th width="150">Estado</th>
            <th width="100">Accion</th>          
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>  
</div>  
  
<script type="text/javascript">
screenAltura("tabla_http_scroll",340);
var itemTipos=[];
function itemTiposBuscar(){    
  document.getElementById("div_buscar").style.display="block";
  tableLoader('tabla_http tbody',2);
  $.get(baseUrl+"item/tipofiltrar/todos",function(data){
    $("#tabla_http tbody").html("");
    let response=JSON.parse(data);    
    console.log(response)
    if (response.estado) {
      for (x in response['data']) {
          itemTipos[response['data'][x].ITEM_TIPO_ID]=response['data'][x];         
        let fila='<tr id="f-'+response['data'][x].ITEM_TIPO_ID+'">';      
        fila+='<td>'+response['data'][x].ITEM_TIPO_NOMBRE+'</td>';  
        fila+='<td>'+response['data'][x].ITEM_TIPO_ESTADO+'</td>';      
        fila+='<td style="text-align:center;">';        
        fila+=`<div class="dropdown">
                <button type="button" class="btn btn-primary" data-toggle="dropdown" data-boundary="window">
                  <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="itemTipoLeer(`+response['data'][x].ITEM_TIPO_ID+`)">Ver</a>
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="itemTipoEditar(`+response['data'][x].ITEM_TIPO_ID+`)">Editar</a>                  
                </div>
              </div>`;
        fila+='</td>';      
        fila+='</tr>';
        $("#tabla_http tbody").append(fila);
      }
    }else{
      let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
      $('#modal_mensaje').html(modal_conten_loader);
      $('#modal_mensaje').modal('toggle'); 
    }    
  });
}

function modalItemTipoRegistrar(){
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Registrar Item Tipo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_item_tipo_registrar">
          <div class="form-group">            
            <label for="nombre">Nombre *</label>
            <input required type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresar Nombre">
          </div>
          <div class="form-group">
            <label for="estado">Estado:</label>    
            <select class="form-control" id="estado" name="estado">
              <option value="ACTIVO">ACTIVO</option>
              <option value="INACTIVO">INACTIVO</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-success" onclick="itemTipoRegistrarGuardar()">Registrar</button>       
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>        
      </div>
    </div>
    </div>`;
  return modal;
}

function itemTipoRegistrar(){
  let modal=modalItemTipoRegistrar();  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
}

function itemTipoRegistrarGuardar(){  
  if (formValido("form_item_tipo_registrar")){
    let data=$("#form_item_tipo_registrar").serializeArray();
    let data_json={}
    for (x in data){    
      data_json[data[x].name]=data[x].value
    }
    modalCargando();
    $.post(baseUrl+"item/tipocrear",data_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle'); 
      if (response.estado){
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');      
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');        
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
} 

function modalItemTipoLeer(data){
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Datos Item Tipo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombre">Nombres y Apellidos:</label>
            <input readonly type="text" class="form-control" value="`+data.ITEM_TIPO_NOMBRE+`">
          </div>
          <div class="form-group">
            <label for="estado">Estado:</label>    
            <input readonly type="text" class="form-control" id="estado" value="`+data.ITEM_TIPO_ESTADO+`">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
    </div>`;
  return modal;
}

function itemTipoLeer(id){    
  let modal=modalItemTipoLeer(itemTipos[id]);  
  $('#modal_mensaje').html(modal);
  $('#modal_mensaje').modal('toggle'); 
}

function modalItemTipoEditar(data){
  let estado;
  if(data.ITEM_TIPO_ESTADO=="ACTIVO"){
    estado='<option value="ACTIVO">ACTIVO</option><option value="INACTIVO">INACTIVO</option>';
  }else{
    estado='<option value="INACTIVO">INACTIVO</option><option value="ACTIVO">ACTIVO</option>';
  } 
  
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Item Tipo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_item_tipo_editar">
          <div class="form-group">
            <input type="hidden" name="id" value="`+data.ITEM_TIPO_ID+`">
            <label for="nombre">Nombre:</label>
            <input required type="text" class="form-control" id="nombre" 
              name="nombre" value="`+data.ITEM_TIPO_NOMBRE+`">
          </div>
          <div class="form-group">
            <label for="estado">Estado:</label>    
            <select class="form-control" id="estado" name="estado">
              `+estado+`
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-success" onclick="itemTipoEditarGuardar()">Editar</button>       
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>        
      </div>
    </div>
    </div>`;
  return modal;
}

function itemTipoEditar(id){    
  let modal=modalItemTipoEditar(itemTipos[id]);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
}

function itemTiposEditarData(data){
  /*Actualiza el Array en el Cliente*/
  itemTipos[data['id']].ITEM_TIPO_NOMBRE=data['nombre'];
  itemTipos[data['id']].ITEM_TIPO_ESTADO=data['estado'];
  /*Actualizamos la Fila de la Tabla*/
  let fila=document.getElementById("f-"+data["id"]);       
  let columna=fila.querySelectorAll("td");
  columna[0].innerHTML=data['nombre'];
  columna[1].innerHTML=data['estado'];
}

function itemTipoEditarGuardar(){  
  if (formValido("form_item_tipo_editar")){
    let data=$("#form_item_tipo_editar").serializeArray();
    let data_json={}
    for (x in data){    
      data_json[data[x].name]=data[x].value
    }
    modalCargando();
    $.post(baseUrl+"item/tipoeditar",data_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle');      
      if (response.estado){
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');      
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        itemTiposEditarData(data_json);        
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
} 

exportarItemTiposCsv = function() {
  var exportCvs="NOMBRE,ESTADO\r\n";
  for(x in itemTipos){
    exportCvs+=itemTipos[x].ITEM_TIPO_NOMBRE+",";      
    exportCvs+=itemTipos[x].ITEM_TIPO_ESTADO;
    exportCvs+= "\r\n";
  }

  csvString = "data:application/csv," + encodeURIComponent(exportCvs);
  var x = document.createElement("A");
  x.setAttribute("href", csvString );
  x.setAttribute("download","itemTipos.csv");
  document.body.appendChild(x);
  x.click();
}

exportarItemTiposPdf=function(){
    // CREATE A WINDOW OBJECT.
        let win = window.open('', '', 'height=700,width=900');
        let tabla=`<table style="font-size: 12px;width: 100%;font-family: arial, sans-serif;border-collapse: collapse;">
          <thead>
            <tr>          
              <th>Nombre</th>
              <th>Estado</th>              
            </tr>
          </thead>
          <tbody>`;
        for(x in itemTipos){
          tabla+="<tr>";
          tabla+="<td>"+itemTipos[x].ITEM_TIPO_NOMBRE+"</td>";
          tabla+="<td>"+itemTipos[x].ITEM_TIPO_ESTADO+"</td>";
          tabla+="</tr>";
        }
        tabla+="</tbody></table>";
        let style = "<style>";                        
        style = style + "td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 2px;}";        
        style = style + "</style>";
        win.document.write('<html><head>');
        win.document.write('<title>Item Tipos</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(tabla);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');
        win.document.close();   // CLOSE THE CURRENT WINDOW.
        win.print();    // PRINT THE CONTENTS.
}
</script>  