<div class="form-cliente">
  <div class="form-cabecera">
    <h4>Administrar Productos</h4>
  </div> 
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text form-control-sm">Filtro</span>
          </div>
          <select class="form-control form-control-sm" id="filtro" onchange="filtroDependiente(this)">
            <option value="a.CODIGO">Codigo</option>
            <option value="a.NOMBRE">Nombre</option>
            <option value="a.LABORATORIO_ID">Laboratorio</option>
            <option value="a.PROVEEDOR_ID">Proveedor</option>
            <option value="a.PRESENTACION_ID">Tipo</option>
            <option value="a.CATEGORIA_ID">Categoria</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group" id="filtro_select">      
          <input type="text" class="form-control form-control-sm" id="filtro_input" placeholder="Dato Buscar">
        </div>
      </div>  
      <div class="col-sm-3">
        <div class="input-group">
          <button class="btn btn-primary btn-sm btn-block" onclick="itemBuscar()"><i class="fas fa-search"></i> Buscar</button>
        </div>
      </div>
      <div class="col-sm-3" id="div_buscar" style="display: none">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input type="text" class="form-control form-control-sm" id="txt_buscar" onkeyup="BuscarFilaTabla('tabla_http','txt_buscar')">
          <div class="input-group-prepend">        
              <span class="input-group-text" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></span>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0)" onclick="exportarItemsCsv()">Exportar CVS</a>
                <a class="dropdown-item" href="javascript:void(0)" onclick="exportarItemsPdf()">Exportar PDF</a>          
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive" id="tabla_http_scroll">
      <table class="table table-hover table-sm" id="tabla_http">
        <thead>
          <tr>                      
            <th width="200">Nombre</th>            
            <th width="150">Tipo</th>          
            <th width="180">Laboratorio</th>          
            <th width="180">Proveedor</th>          
            <th width="110">Estado</th>          
            <th width="100">Accion</th>          
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
screenAltura("tabla_http_scroll",340);
var laboratorios=[];
var proveedores=[];
var presentaciones=[];
var categorias=[];
var estados=[];

var laboratorioOptions="";
var proveedoresOptions="";
var itemPresentacionOptions="";
var itemCategoriaOptions="";
$.get(baseUrl+"item/formeditar",function(data){      
  let response=JSON.parse(data);  
  laboratorioOptions=loadSelectString(response['laboratorios']);          
  laboratorios=response['laboratorios']; 
  proveedoresOptions=loadSelectString(response['proveedores']);  
  proveedores=response['proveedores']; 
  itemPresentacionOptions=loadSelectString(response['presentaciones']);  
  presentaciones=response['presentaciones']; 
  itemCategoriaOptions=loadSelectString(response['categorias']);          
  categorias=response['categorias']; 
  estados=response['estados'];
});

function filtroDependiente(option){
  let input;    
  switch(option.value) {
    case "a.CODIGO":
      input='<input type="text" class="form-control form-control-sm" id="filtro_input" placeholder="Codigo Producto">';
    break;
    case "a.NOMBRE":
      input='<input type="text" class="form-control form-control-sm" id="filtro_input" placeholder="Nombre Producto">';
    break;
    case "a.LABORATORIO_ID":
      input='<select class="form-control form-control-sm" id="filtro_input">'+laboratorioOptions+'</select>';
    break;
    case "a.PROVEEDOR_ID":
      input='<select class="form-control form-control-sm" id="filtro_input">'+proveedoresOptions+'</select>';
    break;
    case "a.PRESENTACION_ID":
      input='<select class="form-control form-control-sm" id="filtro_input">'+itemPresentacionOptions+'</select>';
    break;
    case "a.CATEGORIA_ID":
      input='<select class="form-control form-control-sm" id="filtro_input">'+itemCategoriaOptions+'</select>';
    break;
  }
  document.getElementById("filtro_select").innerHTML=input;
}

var items=[];
function itemBuscar(){
  document.getElementById("div_buscar").style.display="block";
  let data={};
  data['filtro']=document.getElementById("filtro").value;
  data['input_filtro']=document.getElementById("filtro_input").value;  
  data['status']="1,2";
  tableLoader('tabla_http tbody',4);
  $.post(baseUrl+"item/buscar",data,function(data){
    $("#tabla_http tbody").html("");
    let response=JSON.parse(data);        
    if (response.status) {
      items=arrayToObj(response['data'])
      for (x in response['data']) {        
        let fila='<tr id="f-'+response['data'][x].ID+'">';      
        fila+='<td>'+response['data'][x].NOMBRE+'</td>';        
        fila+='<td>'+response['data'][x].PRESENTACION+'</td>';        
        fila+='<td>'+response['data'][x].LABORATORIO+'</td>';   
        fila+='<td>'+response['data'][x].PROVEEDOR+'</td>';       
        fila+='<td>'+response['data'][x].ESTADO+'</td>';       
        fila+='<td style="text-align:center;">';        
        fila+=`<div class="dropdown">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="dropdown" data-boundary="window">
                  <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="itemLeer(`+response['data'][x].ID+`)">Ver</a>
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="itemEditar(`+response['data'][x].ID+`)">Editar</a>
                </div>
              </div>`;
        fila+='</td>';      
        fila+='</tr>';
        $("#tabla_http tbody").append(fila);
      }
    }else{
      let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
      $('#modal_mensaje').html(modal_conten_loader);
      $('#modal_mensaje').modal('toggle'); 
    }    
  });
}

function itemLeer(id){  
  let modal=modalItemLeer(items[id]);  
  $('#modal_mensaje').html(modal);
  $('#modal_mensaje').modal('toggle'); 
}

function modalItemLeer(data){
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-save"></i> Datos Prodcuto</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>          
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input readonly type="text" class="form-control form-control-sm" id="nombre" value="`+data.NOMBRE+`">
          </div>
          <div class="form-group">
            <label for="proveedor_id">Laboratorio</label>    
            <input readonly type="text" class="form-control form-control-sm" id="proveedor_id" value="`+data.LABORATORIO+`">
          </div>
          <div class="form-group">
            <label for="proveedor_id">Proveedor</label>    
            <input readonly type="text" class="form-control form-control-sm" id="proveedor_id" value="`+data.PROVEEDOR+`">
          </div>
          <div class="form-group">
            <label for="item_tipo_id">Tipo</label>
            <input readonly type="text" class="form-control form-control-sm" id="item_tipo_id" value="`+data.PRESENTACION+`">
          </div>
          <div class="form-group">
            <label for="item_categoria_id">Categoria</label>
            <input readonly type="texr" class="form-control form-control-sm" id="item_categoria_id" value="`+data.CATEGORIA+`">
          </div>
          <div class="form-group">
            <label for="estado">Estado</label>    
            <input readonly type="text" class="form-control form-control-sm" id="estado" value="`+data.ESTADO+`">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
    </div>`;
  return modal;
}

function itemEditar(id){  
  let modal=modalItemEditar(items[id]);
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle');     
}


function modalItemEditar(data){
  let laboratorio=modalLoadSelect(data.LABORATORIO_ID,laboratorios);
  let proveedore=modalLoadSelect(data.PROVEEDOR_ID,proveedores);
  let presentacione=modalLoadSelect(data.PRESENTACION_ID,presentaciones);
  let categoria=modalLoadSelect(data.CATEGORIA_ID,categorias);
  let estado=modalLoadSelect(data.ESTADO_ID,estados);
  let modal=`<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title"><i class="fas fa-pencil-alt"></i> Editar Producto</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_item_editar">
          <input type="hidden" name="id" value="`+data.ID+`">          
          <div class="form-group">
            <label for="nombre">Nombre *</label>
            <input required type="text" class="form-control form-control-sm" id="nombre" name="nombre" value="`+data.NOMBRE+`">
          </div>
          <div class="form-group">
            <label for="laboratorio_id">Laboratorio *</label>    
            <select class="form-control form-control-sm" id="laboratorio_id" name="laboratorio_id" nameSelect="laboratorio">
              `+laboratorio+`
            </select>
          </div>        
          <div class="form-group">
            <label for="proveedor_id">Proveedor *</label>    
            <select class="form-control form-control-sm" id="proveedor_id" name="proveedor_id" nameSelect="proveedor">
              `+proveedore+`
            </select>
          </div>
          <div class="form-group">
            <label for="presentacion_id">Presentacion *</label>
            <select class="form-control form-control-sm" id="presentacion_id" name="presentacion_id" nameSelect="presentacion">
              `+presentacione+`
            </select>
          </div>
          <div class="form-group">
            <label for="categoria_id">Categoria *</label>
            <select class="form-control form-control-sm" id="categoria_id" name="categoria_id" nameSelect="categoria">
              `+categoria+`
            </select>
          </div>
          <div class="form-group">
            <label for="estado_id">Estado *</label>    
            <select class="form-control form-control-sm" id="estado_id" name="estado_id" nameSelect="estado">
              `+estado+`
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center"> 
        <button type="button" class="btn btn-info btn-sm" onclick="itemEditarGuardar()"><i class="fas fa-pencil-alt"></i> Editar</button>       
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
      </div>
    </div>
    </div>`;
  return modal;
}

function itemEditarGuardar(){  
  if (formValido("form_item_editar")){
    let data_json=objForm("form_item_editar");
    modalCargando();
    $.post(baseUrl+"item/editar",data_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle'); 
      if (response.status){
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');      
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        dataLocalEdit(items,data_json); 
        let aObjetos=[]
        aObjetos.push(data_json['nombre']);
        aObjetos.push(data_json['presentacion']);
        aObjetos.push(data_json['laboratorio']);
        aObjetos.push(data_json['proveedor']);
        aObjetos.push(data_json['estado']);
        datatableRowEdit(data_json['id'],aObjetos);        
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
}

exportarItemsCsv = function() {
  var exportCvs="CODIGO,NOMBRE,UNIDADES,TIPO,CATEGORIA,LABORATORIO,PROVEEDOR,ESTADO\r\n";
  for(x in items){
      exportCvs+=items[x].ITEM_CODIGO+",";
      exportCvs+=items[x].ITEM_NOMBRE+",";      
      exportCvs+=items[x].ITEM_UNIDADES+",";
      exportCvs+=items[x].ITEM_TIPO_NOMBRE+",";;
      exportCvs+=items[x].ITEM_CATEGORIA_NOMBRE+",";;
      exportCvs+=items[x].LABORATORIO_NOMBRE+",";;
      exportCvs+=items[x].PROVEEDOR_NOMBRE+",";;
      exportCvs+=items[x].ITEM_ESTADO;
      exportCvs+= "\r\n";
  }

  csvString = "data:application/csv," + encodeURIComponent(exportCvs);
  var x = document.createElement("A");
  x.setAttribute("href", csvString );
  x.setAttribute("download","items.csv");
  document.body.appendChild(x);
  x.click();
}

exportarItemsPdf=function(){
  // CREATE A WINDOW OBJECT.
      let win = window.open('', '', 'height=700,width=900');
      let tabla=`<table style="font-size: 12px;width: 100%;font-family: arial, sans-serif;border-collapse: collapse;">
        <thead>
          <tr>          
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Unidades</th>
            <th>Tipo</th>
            <th>Categoria</th>
            <th>Laboratorio</th>
            <th>Proveedor</th>
            <th>Estado</th>              
          </tr>
        </thead>
        <tbody>`;
      for(x in items){
        tabla+="<tr>";
        tabla+="<td>"+items[x].ITEM_CODIGO+"</td>";
        tabla+="<td>"+items[x].ITEM_NOMBRE+"</td>";
        tabla+="<td>"+items[x].ITEM_UNIDADES+"</td>";
        tabla+="<td>"+items[x].ITEM_TIPO_NOMBRE+"</td>";
        tabla+="<td>"+items[x].ITEM_CATEGORIA_NOMBRE+"</td>";
        tabla+="<td>"+items[x].LABORATORIO_NOMBRE+"</td>";
        tabla+="<td>"+items[x].PROVEEDOR_NOMBRE+"</td>";
        tabla+="<td>"+items[x].ITEM_ESTADO+"</td>";
        tabla+="</tr>";
      }
      tabla+="</tbody></table>";
      let style = "<style>";                        
      style = style + "td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 2px;}";        
      style = style + "</style>";
      win.document.write('<html><head>');
      win.document.write('<title>Items</title>');   // <title> FOR PDF HEADER.
      win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
      win.document.write('</head>');
      win.document.write('<body>');
      win.document.write(tabla);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
      win.document.write('</body></html>');
      win.document.close();   // CLOSE THE CURRENT WINDOW.
      win.print();    // PRINT THE CONTENTS.
}
</script>  