<div class="form-cliente" id="form-cliente"> 
  <div class="form-cabecera">
    <h4>Registrar Ingresos </h4>
  </div>   
  <datalist id="item_list">
  </datalist>
  <div class="table-responsive" id="tabla_http_scroll">
    <table class="table table-sm" id="tabla_http">
      <thead>
        <tr>
          <th width="180">Item</th>                            
          <th width="80">P C</th> 
          <th width="80">P V</th> 
          <th width="80">Lote</th> 
          <th width="80">Cant</th> 
          <th width="140">Factura</th>         
          <th width="150">Ingreso</th>          
          <th width="120">Vence</th>
          <th width="80"><button class="btn btn-primary btn-sm" onclick="inventarioAddRow()"><i class="fas fa-plus"></i></button></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<style>
  .t_input{
    padding-left: 2px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #BDBDBD;
  }
</style>
<script>
screenAltura("form-cliente",200);
screenAltura("tabla_http_scroll",290);
var data_item=[];
function list_items(){
  $.get(baseUrl+"item/formingreso",function(data){
  	let response=JSON.parse(data); 
    console.log(response)	
  	let fila;
    data_item=response.items;
  	for (x in data_item) {	  	  	
  	  fila+='<option codigo="'+data_item[x].ID+'" value="'+data_item[x].NOMBRE+'">LAB : '+data_item[x].LABORATORIO+'</option>';	
  	}  
  	$("#item_list").html(fila);

	});
}
list_items();

function inventarioAddRow(){ 	  
  let fechayhora=fechaHoraActual();  
  let fecha=fechaActual(); 
  let row='<tr>';
  row+='<td>';
  row+='<input type="hidden" name="item_id">';
  row+='<input class="t_input" readonly onclick="ItemId(this)" placeholder="Seleccionar Item">';    
  row+='</td>';    
  row+='<td><input type="number" class="t_input" name="precio_compra" value="0"></td>'; 
  row+='<td><input type="number" class="t_input" name="precio_venta" value="0"></td>'; 
  row+='<td><input type="text" class="t_input" name="lote" value="0"></td>'; 
  row+='<td><input type="number" class="t_input" name="cantidad" value="0"></td>';   
  row+='<td><input type="text" class="t_input" name="comprobante" placeholder="FAC : NRO"></td>'; 
  row+='<td><input type="text" class="t_input fechahora" name="fechaingreso" value="'+fechayhora+'"></td>';	  
  row+='<td><input type="text" class="t_input fecha" name="fechavencimiento" value="'+fecha+'"></td>';	
  row+='<td><button onclick="tableItemRegistrar(this)" class="btn btn-success btn-sm" data-toggle="tooltip" title="Guardar"><i class="fa fa-plus"></i></button>&nbsp';
  row+='<button onclick="eliminar(this)" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Eliminar"><i class="fas fa-trash"></i></button></td>';
  row+='</tr>';
  $("#tabla_http tbody").append(row);  
  $(".fecha").mask("99/99/9999");
  $(".fechahora").mask("99/99/9999 99:99");
}  

function id_item(input) {        	 
  list = document.getElementById('item_list').options;
	for(x in list){      		
		if (list[x].value==input.value) {			
			let item_id=list[x].getAttribute('codigo');	
      let filainputs=$(input).parents("tr").find("input");      
      filainputs[0].value=item_id;      
			break;
		}      		
	}
}

function id_item_modal(input) {        	 
  list = document.getElementById('item_list').options;
  let m_item_id=document.getElementById('m_item_id');
	for(x in list){      		
		if (list[x].value==input.value) {			
			let item_id=list[x].getAttribute('codigo');	      
      m_item_id.value=item_id;      
			break;
		}      		
	}
}

function tableItemRegistrar(boton){
  
  let filaInputs=$(boton).parents("tr").find("input");  
  let item_id=filaInputs[0].value;
  let item_nombre=filaInputs[1].value;
  let preciocompra=filaInputs[2].value;
  let precioventa=filaInputs[3].value;
  let lote=filaInputs[4].value;  
  let cantidad=filaInputs[5].value;  
  let factura=filaInputs[6].value;  
  let fechaingreso=filaInputs[7].value;  
  let fechavencimiento=filaInputs[8].value;  
  
  let obj_json={};  
  obj_json['codigobarra']="";
  obj_json['preciocompra']=preciocompra;
  obj_json['precioventa']=precioventa;  
  obj_json['lote']=lote;
  obj_json['cantidad']=cantidad;  
  obj_json['factura']=factura;
  obj_json['fechaingreso']=fechaingreso;  
  obj_json['fechavencimiento']=fechavencimiento;
  obj_json['item_id']=item_id;
  obj_json['item_nombre']=item_nombre;  
  console.log(obj_json)  
  if(item_id!=""&&item_nombre!=""&&preciocompra!=0&&precioventa!=0&&cantidad!=0&&fechaingreso!=""&&fechavencimiento!=""){
    modalCargando();
    $.post(baseUrl+"ingreso/crear",obj_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle');
      if (response.status){
        let serverIngresoId=response.ingreso_id;
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle'); 
        let fila='<td>'+item_nombre+'</td>';          
          fila+='<td>'+preciocompra+'</td>';
          fila+='<td>'+precioventa+'</td>';
          fila+='<td>'+lote+'</td>';
          fila+='<td>'+cantidad+'</td>';
          fila+='<td>'+factura+'</td>';
          fila+='<td>'+fechaingreso+'</td>';          
          fila+='<td>'+fechavencimiento+'</td>';          
          fila+='<td>';
          fila+='<button onclick="tableIngresoEditar('+serverIngresoId+','+item_id+')" class="btn btn-success btn-sm" data-toggle="tooltip" title="Editar"><i class="fas fa-pencil-alt"></i></button>';
          fila+='&nbsp';
          fila+='<button onclick="tableIngresoEliminar('+serverIngresoId+')" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Eliminar"><i class="fas fa-trash"></i></button></td>';
          fila+='</td>';
        $(boton).parents("tr").attr("id","f-"+serverIngresoId);
        $(boton).parents("tr").html(fila);     
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    });
  }else{
    alert("Ingresar todos los datos")
  } 
}

function tableIngresoEditar(id,item_id){
  let filaData=$("#f-"+id).find("td");
  let data={};
  data["id"]=id;
  data["item_id"]=item_id;
  data["item_nombre"]=filaData[0].innerHTML;
  data["preciocompra"]=filaData[1].innerHTML;
  data["precioventa"]=filaData[2].innerHTML;
  data["lote"]=filaData[3].innerHTML;
  data["cantidad"]=filaData[4].innerHTML;
  data["factura"]=filaData[5].innerHTML;
  data["fechaingreso"]=filaData[6].innerHTML;  
  data["fechavencimiento"]=filaData[7].innerHTML;  
  let modal=modalIngresoEditar(data);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
  $(".fecha").mask("99/99/9999");
  $(".fechahora").mask("99/99/9999 99:99");
}

function modalIngresoEditar(data){ 
  let modal=`<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-pencil-alt"></i> Editar Ingreso</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_ingreso_editar">
          <input type="hidden" name="id" value="`+data.id+`">                        
          <input type="hidden" id="m_item_id" name="item_id" value="`+data.item_id+`">            
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="item_nombre">Item *</label>
                <input required type="text" class="form-control form-control-sm" list="item_list" id="item_nombre" 
                  name="item_nombre" value="`+data.item_nombre+`" onchange="id_item_modal(this)">
              </div>
              <div class="form-group">
                <label for="preciocompra">Precio Compra *</label>
                <input required type="text" class="form-control form-control-sm" id="preciocompra" 
                  name="preciocompra" value="`+data.preciocompra+`">
              </div>
              <div class="form-group">
                <label for="precioventa">Precio Venta *</label>
                <input required type="text" class="form-control form-control-sm" id="precioventa" 
                  name="precioventa" value="`+data.precioventa+`">
              </div>
              <div class="form-group">
                <label for="lote">Lote *</label>
                <input required type="text" class="form-control form-control-sm" id="lote" 
                  name="lote" value="`+data.lote+`">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="cantidad">Cantidad *</label>
                <input required type="text" class="form-control form-control-sm" id="cantidad" 
                  name="cantidad" value="`+data.cantidad+`">
              </div>
              <div class="form-group">
                <label for="factura">Factura </label>
                <input required type="text" class="form-control form-control-sm" id="factura" 
                  name="factura" value="`+data.factura+`">
              </div>
              <div class="form-group">
                <label for="fechaingreso">Fecha Ingreso:</label>
                <input type="text" class="fechahora form-control form-control-sm" id="fechaingreso" 
                  name="fechaingreso" value="`+data.fechaingreso+`">
              </div>
              <div class="form-group">
                <label for="fechavencimiento">Fecha Vencimiento:</label>
                <input type="text" class="fecha form-control form-control-sm" id="fechavencimiento" 
                  name="fechavencimiento" value="`+data.fechavencimiento+`">
              </div>
            </div>
          </div>    

        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-info btn-sm" onclick="IngresoEditarGuardar()"><i class="fas fa-pencil-alt"></i> Editar</button>       
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>  
      </div>
    </div>
    </div>`;
  return modal;
}

function IngresoEditarGuardar(){  
  if (formValido("form_ingreso_editar")){
    let data_json=objForm("form_ingreso_editar");
    data_json['codigobarra']="";
    data_json['estado_id']=1;
    modalCargando();
    console.log(data_json)
    $.post(baseUrl+"ingreso/editar",data_json,function(data){            
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle');      
      if (response.status){
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');      
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        let fila='<td>'+data_json.item_nombre+'</td>';          
          fila+='<td>'+data_json.preciocompra+'</td>';
          fila+='<td>'+data_json.precioventa+'</td>';
          fila+='<td>'+data_json.lote+'</td>';
          fila+='<td>'+data_json.cantidad+'</td>';
          fila+='<td>'+data_json.factura+'</td>';
          fila+='<td>'+data_json.fechaingreso+'</td>';          
          fila+='<td>'+data_json.fechavencimiento+'</td>';          
          fila+='<td>';
          fila+='<button onclick="tableIngresoEditar('+data_json.id+','+data_json.item_id+')" class="btn btn-success btn-sm" data-toggle="tooltip" title="Editar"><i class="fas fa-pen"></i></button>&nbsp';
          fila+='<button onclick="tableIngresoEliminar('+data_json.id+')" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Eliminar"><i class="fas fa-trash"></i></button></td>';
          fila+='</td>';
        $("#f-"+data_json.id).html(fila);        
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
}

function tableIngresoEliminar(id){
  let modal=modalIngresoEliminar(id);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
}

function modalIngresoEliminar(id){
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-trash-alt"></i> Eliminar Ingreso</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_ingreso_eliminar">
          <input type="hidden" name="id" value="`+id+`">
        </form>
        <h6>Estas Seguro de Eliminar Inventario..?"</h6>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-info btn-sm" onclick="IngresoEliminarGuardar()"><i class="fas fa-trash-alt"></i> Si</button>       
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> No</button>  
      </div>
    </div>
    </div>`;
  return modal;
}


function IngresoEliminarGuardar(){
  if (formValido("form_ingreso_eliminar")){
    let data_json=objForm("form_ingreso_eliminar");
    modalCargando();
    $.post(baseUrl+"ingreso/eliminar",data_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle');
      if (response.status){
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        $("#f-"+data_json['id']).remove();
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
}

function eliminar(boton){
  $(boton).parents("tr").remove();
}

var modal_item_id=0;
var modal_item_name="";
var fila_seleccionada;
function activarFilaItem(){
  console.log("activo");
  $("#tabla_modal_http tbody tr").click(function () {
    $('.table-primary').removeClass('table-primary');
    $(this).addClass("table-primary");    
    let x=$(this).find("td");    
    modal_item_id=x[0].innerHTML;
    modal_item_name=x[1].innerHTML;
  });
}

function ItemId(fila){  
  let datahtml="";
  for (x in data_item){
    datahtml+='<tr ondblclick="modalSeleccionarFilaItems()">';
    datahtml+='<td>'+data_item[x].ID+'</td>';
    datahtml+='<td>'+data_item[x].NOMBRE+'</td>';        
    datahtml+='<td>'+data_item[x].PRESENTACION+'</td>';    
    datahtml+='<td>'+data_item[x].CATEGORIA+'</td>';
    datahtml+='<td>'+data_item[x].LABORATORIO+'</td>';
    datahtml+='<td>'+data_item[x].PROVEEDOR+'</td>';
    datahtml+='<tr>';
  }
  
  let modal=modalItemId(datahtml);
  fila_seleccionada=fila;  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
  activarFilaItem();
  screenAltura("tabla_modal_http_scroll",370);
}

function modalSeleccionarFilaItems(){
  let selecionado=$("#tabla_modal_http tbody .table-primary").length
  if(selecionado==1){    
    let filatabla=$(fila_seleccionada).parents("tr").find("input");      
    filatabla[0].value=modal_item_id;
    filatabla[1].value=modal_item_name;     
    $('#modal_formulario').html("");
    $('#modal_formulario').modal('toggle');    
  }else{
    alert("Seleccione al Menos un Item");
  } 
}

function modalItemId(datahtml){
  let modal=`<div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Stock</h4>        
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control form-control-sm" id="txt_modal_buscar" onkeyup="BuscarFilaTabla('tabla_modal_http','txt_modal_buscar')" placeholder="Buscar Item">
        <div class="table-responsive" id="tabla_modal_http_scroll">
        <table class="table table-sm" id="tabla_modal_http">
            <thead>
                <tr>
                <th width="50">Id</th> 
                <th width="250">Item</th>                         
                <th width="150">Presentacion</th>                        
                <th width="180">Categoria</th>         
                <th width="180">Laboratorio</th>  
                <th width="180">Proveedor</th>          
                </tr>
            </thead>
            <tbody>`+datahtml+`</tbody>
        </table>
        </div>        
      </div>
     
    </div>
    </div>`;
  return modal;
}
</script>