<div class="form-cliente">
  <div class="form-cabecera">
    <h4>Stock de Productos</h4>
  </div> 
  <hr>
  <div class="container-fluid">    
    <datalist id="item_list">
    </datalist>
    <div class="row">
      <div class="col-md-2">
        <div class="input-group">      
          <input type="hidden" id="item_id" name="item_id">            
          <input required type="text" class="form-control form-control-sm" list="item_list" id="item_nombre" 
            name="item_nombre" onchange="id_item(this)" placeholder="Nombre Item">
        </div>
      </div>
      <div class="col-sm-2">
          <div class="input-group">
            <select class="form-control form-control-sm" id="proveedor_id" name="proveedor_id">
              <option>Cargando..!</option>
            </select>
          </div>
      </div>
      <div class="col-sm-2">
          <div class="input-group">
            <select class="form-control form-control-sm" id="presentacion_id" name="presentacion_id">
              <option>Cargando..!</option>
            </select>
          </div>
      </div>
      <div class="col-sm-2">
          <div class="input-group">
              <select class="form-control form-control-sm" id="categoria_id" name="categoria_id">
                <option>Cargando..!</option>
              </select>
          </div>
      </div>
      <div class="col-sm-2">
          <div class="input-group">
            <button class="btn btn-primary btn-sm btn-block" onclick="stockListar()"><i class="fas fa-search"></i> Buscar</button>
          </div>
      </div>
      <div class="col-sm-2" id="div_buscar" style="display: none">
        <div class="input-group">
          <input type="text" class="form-control form-control-sm" id="txt_buscar" onkeyup="BuscarFilaTabla('tabla_http','txt_buscar')" placeholder="Filtar Datos">
          <div class="input-group-prepend">        
            <span class="input-group-text" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></span>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="javascript:void(0)" onclick="exportarStockCsv()">Exportar CVS</a>
              <a class="dropdown-item" href="javascript:void(0)" onclick="exportarStockPdf()">Exportar PDF</a>          
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive" id="tabla_http_scroll">
      <table class="table table-hover table-sm" id="tabla_http">
        <thead>
        <th width="100">Ingreso Id</th>          
        <th width="200">Item</th>
        <th width="150">Ingreso</th>        
        <th width="150">Vencimiento</th>                    
        <th width="100">Ingreso</th>          
        <th width="100">Saldo</th>          
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>    
<script type="text/javascript">
var estados=[];
function list_items(){
  $.get(baseUrl+"ingreso/formeditar",function(data){
    let response=JSON.parse(data); 
    loadListNew("item_list",response['items'])
    estados=response['estados'];   
  });
}
list_items();
screenAltura("tabla_http_scroll",340);

function datosFormItemRegistrar(){  
  $.get(baseUrl+"item/formeditar",function(data){      
    let response=JSON.parse(data);   
    loadSelectSearch("proveedor_id",response['proveedores']); 
    loadSelectSearch("presentacion_id",response['presentaciones']); 
    loadSelectSearch("categoria_id",response['categorias']); 
  });     
}  
datosFormItemRegistrar();

function id_item(input){         	 
  list = document.getElementById('item_list').options;
  let m_item_id=document.getElementById('item_id');
	for(x in list){      		
		if (list[x].value==input.value) {			
			let item_id=list[x].getAttribute('codigo');	      
      m_item_id.value=item_id;      
			break;
		}     		
	}
}

var stocks=[];
function stockListar(){
  document.getElementById("div_buscar").style.display="block";
  let data={};
  data['item_id']=document.getElementById("item_id").value;
  data['proveedor_id']=document.getElementById("proveedor_id").value;
  data['presentacion_id']=document.getElementById("presentacion_id").value;
  data['categoria_id']=document.getElementById("categoria_id").value; 
  tableLoader('tabla_http tbody',6);
  $.post(baseUrl+"ingreso/stock",data,function(data){
    $("#tabla_http tbody").html("");      
    let response=JSON.parse(data);            
    if (response.status) {
      stocks=response['stock'];
      for (x in response['stock']) {        
        let fila='<tr>';      
        fila+='<td>'+response['stock'][x].ID+'</td>';  
        fila+='<td>'+response['stock'][x].ITEM+'</td>';
        fila+='<td>'+response['stock'][x].FECHAINGRESO+'</td>';        
        fila+='<td>'+response['stock'][x].FECHAVENCIMIENTO+'</td>';          
        fila+='<td>'+response['stock'][x].CANTIDAD+'</td>';        
        fila+='<td>'+response['stock'][x].SALDO+'</td>';                     
        fila+='</tr>';
        $("#tabla_http tbody").append(fila);
      }
    }else{
      let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
      $('#modal_mensaje').html(modal_conten_loader);
      $('#modal_mensaje').modal('toggle'); 
    }    
  });
}


exportarStockCsv = function() {
  var exportCvs="INGRESO,PRODUCTO,FECHA INGRESO,FECHA VENCIMIENTO,INGRESO,QUEDA\r\n";
  for(x in stocks){
    exportCvs+=stocks[x].ID+",";
    exportCvs+=stocks[x].ITEM+",";
    exportCvs+=stocks[x].FECHAINGRESO+",";
    exportCvs+=stocks[x].FECHAVENCIMIENTO+",";
    exportCvs+=stocks[x].CANTIDAD+",";       
    exportCvs+=stocks[x].SALDO;     
    exportCvs+= "\r\n";
  }

  csvString = "data:application/csv," + encodeURIComponent(exportCvs);
  var x = document.createElement("A");
  x.setAttribute("href", csvString );
  x.setAttribute("download","stock.csv");
  document.body.appendChild(x);
  x.click();
}

exportarStockPdf=function(){
  // CREATE A WINDOW OBJECT.
  let win = window.open('', '', 'height=700,width=900');
  let tabla=`<table style="font-size: 12px;width: 100%;font-family: arial, sans-serif;border-collapse: collapse;">
    <thead>
      <tr>          
        <th>Ingreso</th>
        <th>Producto</th>
        <th>Fecha Ingreso</th>
        <th>Fecha Vencimiento</th>
        <th>Ingreso</th>        
        <th>Queda</th>                
      </tr>
    </thead>
    <tbody>`;
      
  for(x in stocks){
    tabla+="<tr>";
    tabla+="<td>"+stocks[x].ID+"</td>";
    tabla+="<td>"+stocks[x].ITEM+"</td>";
    tabla+="<td>"+stocks[x].FECHAINGRESO+"</td>";
    tabla+="<td>"+stocks[x].FECHAVENCIMIENTO+"</td>";
    tabla+="<td>"+stocks[x].CANTIDAD+"</td>";    
    tabla+="<td>"+stocks[x].SALDO+"</td>";        
    tabla+="</tr>";
  }
  tabla+="</tbody></table>";
  let style = "<style>";                        
  style = style + "td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 2px;}";        
  style = style + "</style>";
  win.document.write('<html><head>');
  win.document.write('<title>Stock</title>');   // <title> FOR PDF HEADER.
  win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
  win.document.write('</head>');
  win.document.write('<body>');
  win.document.write(tabla);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
  win.document.write('</body></html>');
  win.document.close();   // CLOSE THE CURRENT WINDOW.
  win.print();    // PRINT THE CONTENTS.
}

</script>  