<div class="form-cliente">
  <div class="form-cabecera">
    <h4>Lista de Recibos</h4>
  </div> 
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text form-control-sm">I</span>
          </div>
          <input type="text" class="fecha form-control form-control-sm" id="inicio" placeholder="dd/mm/yyyy">
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text form-control-sm">F</span>
          </div>
          <input type="text" class="fecha form-control form-control-sm" id="final" placeholder="dd/mm/yyyy">
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">      
          <input type="text" class="recibonum form-control form-control-sm" id="filtro_input" placeholder="Numero">
        </div>
      </div>  
      <div class="col-sm-2">
        <div class="input-group">
          <button class="btn btn-primary btn-sm btn-block" onclick="colaboradorBuscar()"><i class="fas fa-search"></i> Buscar</button>
        </div>
      </div>
      <div class="col-sm-4" id="div_buscar" style="display: none">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input type="text" class="form-control form-control-sm" id="txt_buscar" onkeyup="BuscarFilaTabla('tabla_http','txt_buscar')">
          
          <div class="input-group-prepend">        
            <span class="input-group-text" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></span>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="javascript:void(0)" onclick="exportarRecibosCsv()">Exportar CVS</a>
              <a class="dropdown-item" href="javascript:void(0)" onclick="exportarRecibosPdf()">Exportar PDF</a>          
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive" id="tabla_http_scroll">
      <table class="table table-hover table-sm" id="tabla_http">
        <thead>
          <tr>          
            <th width="120">Fecha</th>
            <th width="120">Numero</th>
            <th width="280">Descripcion</th>
            <th width="120">Monto</th>
            <th width="120">Estado</th>
            <th width="100">Accion</th>          
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>  
  </div>  
</div> 
<script type="text/javascript"> 
document.getElementById("inicio").value=fechaActual();   
document.getElementById("final").value=fechaActual();
$(".fecha").mask("99/99/9999");
$(".recibonum").mask("99999999");
var estados=[];
function dataFromEditarColaborador(){
  $.get(baseUrl+"recibo/formeditar",function(data){          
    let response=JSON.parse(data);  
    if(response.status){      
      estados=response['estados'];      
    }else{
      alert("Ocurrio un Error En la Conexion");
    }
  });
}
dataFromEditarColaborador(); 

screenAltura("tabla_http_scroll",340);
var recibos=[];
function colaboradorBuscar(){
  document.getElementById("div_buscar").style.display="block";
  let data={};
  data['inicio']=document.getElementById("inicio").value;
  data['final']=document.getElementById("final").value;
  data['numero']=document.getElementById("filtro_input").value;    
  data['status']="1,2";
  tableLoader('tabla_http tbody',5);
  $.post(baseUrl+"recibo/buscar",data,function(data){
    $("#tabla_http tbody").html("");
    let response=JSON.parse(data);
    if (response.status) {
      recibos=arrayToObj(response['data'])
      for (x in response['data']) {        
        let fila='<tr id="f-'+response['data'][x].ID+'">';      
        fila+='<td>'+response['data'][x].FECHAEMISION+'</td>';            
        fila+='<td>'+response['data'][x].NUMERO+'</td>';
        fila+='<td>'+response['data'][x].DESCRIPCION+'</td>';
        fila+='<td>'+response['data'][x].MONTO+'</td>';
        fila+='<td>'+response['data'][x].ESTADO+'</td>';      
        fila+='<td style="text-align:center;">';        
        fila+=`<div class="dropdown">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="dropdown" data-boundary="window">
                  <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="reciboLeer(`+response['data'][x].ID+`)">Ver</a>
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="reciboEditar(`+response['data'][x].ID+`)">Editar</a>                  
                </div>
              </div>`;
        fila+='</td>';      
        fila+='</tr>';
        $("#tabla_http tbody").append(fila);
      }
    }else{
      let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
      $('#modal_mensaje').html(modal_conten_loader);
      $('#modal_mensaje').modal('toggle'); 
    }    
  });
}

  
function reciboLeer(id){  
  let modal=modalReciboLeer(recibos[id]);  
  $('#modal_mensaje').html(modal);
  $('#modal_mensaje').modal('toggle'); 
}

function modalReciboLeer(data){
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-save"></i> Datos Recibo</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombre">Fecha</label>
            <input readonly type="text" class="form-control form-control-sm" value="`+data.FECHAEMISION+`">
          </div>
          <div class="form-group">
            <label for="nombre">Numero</label>
            <input readonly type="text" class="form-control form-control-sm" value="`+data.NUMERO+`">
          </div>
          <div class="form-group">
            <label for="direccion">Descripcion</label>
            <input readonly type="text" class="form-control form-control-sm" value="`+data.DESCRIPCION+`">
          </div>
          <div class="form-group">
            <label for="estado">Monto</label>    
            <input readonly type="text" class="form-control form-control-sm" value="`+data.MONTO+`">
          </div>
          <div class="form-group">
            <label for="estado">Estado:</label>    
            <input readonly type="text" class="form-control form-control-sm" value="`+data.ESTADO+`">
          </div>
        </form>
      </div>
    </div>
    </div>`;
  return modal;
}
  
function reciboEditar(id){  
  let modal=modalReciboEditar(recibos[id]);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
}

function modalReciboEditar(data){
  let estado=modalLoadSelect(data.ESTADO_ID,estados);
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-pencil-alt"></i> Editar Recibo</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_recibo_editar">
          <input type="hidden" name="id" value="`+data.ID+`">
          <div class="form-group">
            <label for="fecha">Fecha *</label>
            <input required type="text" class="fecha form-control form-control-sm" id="fecha" 
              name="fecha" value="`+data.FECHAEMISION+`">
          </div>
          <div class="form-group">
            <label for="numero">Numero*</label>
            <input readonly required type="text" class="form-control form-control-sm" id="numero" 
              name="numero" value="`+data.NUMERO+`">
          </div>
          <div class="form-group">
            <label for="descripcion">Descripcion*</label>
            <input required type="text" class="form-control form-control-sm" id="descripcion" 
              name="descripcion" value="`+data.DESCRIPCION+`">
          </div>
          <div class="form-group">
            <label for="monto">Monto*</label>
            <input required type="number" class="form-control form-control-sm" id="monto" 
              name="monto" value="`+data.MONTO+`">
          </div>
          <div class="form-group">
            <label for="estado_id">Estado:</label>    
            <select class="form-control form-control-sm" id="estado_id" name="estado_id" nameSelect="estado">
              `+estado+`
            </select>
          </div>
           
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-info btn-sm" onclick="reciboEditarGuardar()"><i class="fas fa-pencil-alt"></i> Editar</button>       
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>  
      </div>
    </div>
    </div>`;
  return modal;
}
  
function reciboEditarGuardar(){  
  if (formValido("form_recibo_editar")){      
    let data_json=objForm("form_recibo_editar");    
    modalCargando();
    $.post(baseUrl+"recibo/editar",data_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle'); 
      if (response.status){
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');      
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        dataLocalEdit(propietarios,data_json);
        let aObjetos=[]
        aObjetos.push(data_json['fecha']);
        aObjetos.push(data_json['numero']);
        aObjetos.push(data_json['descripcion']);        
        aObjetos.push(data_json['monto']);        
        aObjetos.push(data_json['estado']);        
        datatableRowEdit(data_json['id'],aObjetos);       
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
} 

exportarRecibosCsv = function() {
  let exportCvs="FECHA,NUMERO,DESCRIPCION,MONTO,ESTADO\r\n";
  for(x in  recibos){
    exportCvs+=recibos[x].FECHA+",";
    exportCvs+=recibos[x].NUMERO+",";
    exportCvs+=recibos[x].DESCRIPCION+",";
    exportCvs+=recibos[x].MONTO+",";    
    exportCvs+=recibos[x].ESTADO;
    exportCvs+= "\r\n";
  }

  csvString = "data:application/csv," + encodeURIComponent(exportCvs);
  let data = document.createElement("A");
  data.setAttribute("href", csvString );
  data.setAttribute("download","recibos.csv");
  document.body.appendChild(data);
  data.click();
}
  
exportarRecibosPdf=function(){
  // CREATE A WINDOW OBJECT.
  let win = window.open('', '', 'height=700,width=900');
  let tabla=`<table style="font-size: 12px;width: 100%;font-family: arial, sans-serif;border-collapse: collapse;">
    <thead>
      <tr>          
        <th>Fecha</th>
        <th>Numero</th>
        <th>Descripcion</th>        
        <th>Monto</th>
        <th>Estado</th>              
      </tr>
    </thead>
    <tbody>`;
  for(x in recibos){
    tabla+="<tr>";
    tabla+="<td>"+recibos[x].FECHA+"</td>";    
    tabla+="<td>"+recibos[x].NUMERO+"</td>";
    tabla+="<td>"+recibos[x].DESCRIPCION+"</td>";
    tabla+="<td>"+recibos[x].MONTO+"</td>";
    tabla+="<td>"+recibos[x].ESTADO+"</td>";
    tabla+="</tr>";
  }
  tabla+="</tbody></table>";
  let style = "<style>";                        
  style = style + "td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 2px;}";        
  style = style + "</style>";
  win.document.write('<html><head>');
  win.document.write('<title>Recibos</title>');   // <title> FOR PDF HEADER.
  win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
  win.document.write('</head>');
  win.document.write('<body>');
  win.document.write(tabla);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
  win.document.write('</body></html>');
  win.document.close();   // CLOSE THE CURRENT WINDOW.
  win.print();    // PRINT THE CONTENTS.
}
</script>  