<div class="form-cliente">
  <div class="form-cabecera">
    <h4>Lista de Clientes</h4>
  </div> 
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text form-control-sm">Filtro</span>
          </div>
          <select class="form-control form-control-sm" id="filtro">
            <option value="a.NOMBRE">Nombre</option>
            <option value="a.DNI">Dni</option>
            <option value="a.RUC">Ruc</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">      
          <input type="text" class="form-control form-control-sm" id="filtro_input" placeholder="Dato a Buscar">
        </div>
      </div>  
      <div class="col-sm-3">
        <div class="input-group">
          <button class="btn btn-primary btn-sm btn-block" onclick="clienteListar()"><i class="fas fa-search"></i> Buscar</button>
        </div>
      </div>
      <div class="col-sm-3" id="div_buscar" style="display: none">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input type="text" class="form-control form-control-sm" id="txt_buscar" onkeyup="BuscarFilaTabla('tabla_http','txt_buscar')">
        </div>
      </div>
    </div>

    <div class="table-responsive" id="tabla_http_scroll">
        <table class="table table-hover table-sm" id="tabla_http">
          <thead>
            <tr>          
              <th width="200">Nombre</th>
              <th width="220">Direccion</th>
              <th width="120">Dni</th>
              <th width="150">Ruc</th>
              <th width="150">Telefono</th>          
              <th width="100">Accion</th>          
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
  </div>  
</div>

<script type="text/javascript">
screenAltura("tabla_http_scroll",340);
var clientes=[];
function clienteListar(){
  document.getElementById("div_buscar").style.display="block";
  let data={};
  data['filtro']=document.getElementById("filtro").value;
  data['input_filtro']=document.getElementById("filtro_input").value;  
  data['status']="1";
  tableLoader('tabla_http tbody',5);
  $.post(baseUrl+"cliente/buscar",data,function(data){
    $("#tabla_http tbody").html("");
    let response=JSON.parse(data);        
    if (response.status) {
      clientes=arrayToObj(response['data'])
      for (x in response['data']) {        
        let fila='<tr id="f-'+response['data'][x].ID+'">';      
        fila+='<td>'+response['data'][x].NOMBRE+'</td>';  
        fila+='<td>'+response['data'][x].DIRECCION+'</td>';
        fila+='<td>'+response['data'][x].DNI+'</td>';
        fila+='<td>'+response['data'][x].RUC+'</td>';
        fila+='<td>'+response['data'][x].TELEFONO+'</td>';        
        fila+='<td style="text-align:center;">';        
        fila+=`<div class="dropdown">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="dropdown" data-boundary="window">
                  <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="clienteLeer(`+response['data'][x].ID+`)">Ver</a>
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="clienteEditar(`+response['data'][x].ID+`)">Editar</a>
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="clienteEliminar(`+response['data'][x].ID+`)">Eliminar</a>
                </div>
              </div>`;
        fila+='</td>';      
        fila+='</tr>';
        $("#tabla_http tbody").append(fila);
      }
    }else{
      let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
      $('#modal_mensaje').html(modal_conten_loader);
      $('#modal_mensaje').modal('toggle'); 
    }    
  });
}

function clienteLeer(id){  
  let modal=modalClienteLeer(clientes[id]);  
  $('#modal_mensaje').html(modal);
  $('#modal_mensaje').modal('toggle'); 
}

function modalClienteLeer(data){
  let modal=`<div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-save"></i> Datos Cliente</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-sm-6">  
              <div class="form-group">
                <label for="nombre">Nombres y Apellidos:</label>
                <input readonly type="text" class="form-control form-control-sm" value="`+data.NOMBRE+`">
              </div>
              <div class="form-group">
                <label for="direccion">Direccion:</label>
                <input readonly type="text" class="form-control form-control-sm" value="`+data.DIRECCION+`">
              </div>
              <div class="form-group">
                <label for="estado">Estado:</label>    
                <input readonly type="text" class="form-control form-control-sm" id="estado" value="`+data.ESTADO+`">
              </div>
            </div>
            <div class="col-sm-6"> 
              <div class="form-group">
                <label for="dni">Dni:</label>
                <input readonly type="text" class="form-control form-control-sm" id="dni" value="`+data.DNI+`">
              </div>
              <div class="form-group">
                <label for="dni">Ruc:</label>
                <input readonly type="text" class="form-control form-control-sm" id="ruc" value="`+data.RUC+`">
              </div>
              <div class="form-group">
                <label for="telefono">Telefono:</label>
                <input readonly type="text" class="form-control form-control-sm" id="telefono" value="`+data.RUC+`">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>`;
  return modal;
}

function clienteEditar(id){  
  let modal=modalClienteEditar(clientes[id]);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
}

function modalClienteEditar(data){
  let modal=`<div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-pencil-alt"></i> Editar Cliente</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_cliente_editar">
          <input type="hidden" name="id" value="`+data.ID+`">
          <input type="hidden" name="estado_id" value="`+data.ESTADO_ID+`">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">            
                <label for="nombre">Nombres y Apellidos:</label>
                <input required type="text" class="form-control form-control-sm" id="nombre" 
                  name="nombre" value="`+data.NOMBRE+`">
              </div>
              <div class="form-group">
                <label for="direccion">Direccion:</label>
                <input required type="text" class="form-control form-control-sm" id="direccion" 
                  name="direccion" value="`+data.DIRECCION+`">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="dni">Dni:</label>
                <input type="number" class="form-control form-control-sm" id="dni" name="dni" value="`+data.DNI+`">
              </div>
              <div class="form-group">
                <label for="dni">Ruc:</label>
                <input type="number" class="form-control form-control-sm" id="ruc" name="ruc" value="`+data.RUC+`">
              </div>
              <div class="form-group">
                <label for="telefono">Telefono:</label>
                <input type="text" class="form-control form-control-sm" id="telefono" name="telefono" value="`+data.TELEFONO+`">
              </div>
            </div>
          </div>  
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-info btn-sm" onclick="clienteEditarGuardar()"><i class="fas fa-pencil-alt"></i> Editar</button>       
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>  
      </div>
    </div>
    </div>`;
  return modal;
}

function clienteEditarGuardar(){  
  if (formValido("form_cliente_editar")){
    let data_json=objForm("form_cliente_editar");
    modalCargando();
    $.post(baseUrl+"cliente/editar",data_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle'); 
      if (response.status){        
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');      
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        dataLocalEdit(clientes,data_json);
        let aObjetos=[]
        aObjetos.push(data_json['nombre']);
        aObjetos.push(data_json['direccion']);
        aObjetos.push(data_json['dni']);        
        aObjetos.push(data_json['ruc']);        
        aObjetos.push(data_json['telefono']);        
        datatableRowEdit(data_json['id'],aObjetos);            
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
}

function modalClienteEliminar(data){
  let modal=`<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">        
        <p class="modal-title"><i class="fas fa-trash-alt"></i> Eliminar Cliente</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_cliente_eliminar">
          <input type="hidden" name="id" value="`+data.ID+`">
        </form>
        <h6>Estas Seguro de Eliminar Cliente..?"</h6>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-info btn-sm" onclick="clienteEliminarGuardar()"><i class="fas fa-trash-alt"></i> Si</button>       
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> No</button>  
      </div>
    </div>
    </div>`;
  return modal;
}

function clienteEliminar(id){  
  let modal=modalClienteEliminar(clientes[id]);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
}

function clienteEliminarGuardar(){
  if (formValido("form_cliente_eliminar")){
    let data_json=objForm("form_cliente_eliminar");
    modalCargando();
    $.post(baseUrl+"cliente/eliminar",data_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle'); 
      if (response.status){
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');      
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        $("#f-"+data_json['id']).remove();
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
}
</script>  