<div class="form-cliente" id="form-cliente"> 
  <div class="form-cabecera">
    <h4>Nuevo Cliente</h4>
  </div> 
  <hr> 
  <form id="form_cliente_registrar">
    <div class="form-group">
      <label for="nombre">Nombres y Apellidos *</label>
      <input required type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresar Nombres y Apellidos">
    </div>
    <div class="form-group">
      <label for="direccion">Direccion *</label>
      <input required type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingresar Direccion">
    </div>
    <div class="form-group">
      <label for="dni">Dni</label>
      <input type="number" class="form-control" id="dni" name="dni" placeholder="Ingresar Dni">
    </div>
    <div class="form-group">
      <label for="ruc">Ruc</label>
      <input type="number" class="form-control" id="ruc" name="ruc" placeholder="Ingresar Ruc">
    </div>
    <div class="form-group">
      <label for="telefono">Telefono</label>
      <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Ingresar Telefono">
    </div>
  </form>
  <button  class="btn btn-primary btn-block" onclick="formClienteRegistrar()"><i class="fas fa-save"></i> Guardar Datos</button>
</div>

<script type="text/javascript">
screenAltura("form-cliente",200);
function formClienteRegistrar(){
  if (formValido("form_cliente_registrar")){    
    let data_json=objForm("form_cliente_registrar");        
    modalCargando();
    $.post(baseUrl+"cliente/crear",data_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle');
      if (response.status){        
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle'); 
        clearInputsForm("form_cliente_registrar input");       
      }else{        
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
}
</script>