<div class="form-cliente">
  <div class="form-cabecera">
    <h4>Administrar Colaboradores</h4>
  </div> 
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Filtro</span>
          </div>
          <select class="form-control" id="filtro">
            <option value="a.NOMBRE">Nombre</option>
            <option value="a.DNI">Dni</option>
            <option value="a.RUC">Ruc</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">      
          <input type="text" class="form-control" id="filtro_input" placeholder="Dato Buscar">
        </div>
      </div>  
      <div class="col-sm-3">
        <div class="input-group">
          <button class="btn btn-primary btn-block" onclick="clienteBuscar()">Buscar</button>
        </div>
      </div>
      <div class="col-sm-3" id="div_buscar" style="display: none">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input type="text" class="form-control" id="txt_buscar" onkeyup="BuscarFilaTabla('tabla_http','txt_buscar')">
          
          <div class="input-group-prepend">        
            <span class="input-group-text" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></span>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="javascript:void(0)" onclick="exportarClientesCsv()">Exportar CVS</a>
              <a class="dropdown-item" href="javascript:void(0)" onclick="exportarClientesPdf()">Exportar PDF</a>          
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive" id="tabla_http_scroll">
      <table class="table table-hover" id="tabla_http">
        <thead>
          <tr>          
            <th width="200">Nombre</th>
            <th>Direccion</th>
            <th width="120">Dni</th>
            <th width="150">Ruc</th>
            <th width="150">Telefono</th>
            <th width="150">Estado</th>
            <th width="100">Accion</th>          
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>  
</div>
<script type="text/javascript">
var estados=[];
function dataFromEditarCliente(){
  $.get(baseUrl+"cliente/formeditar",function(data){          
    let response=JSON.parse(data);  
    if(response['status']){      
      estados=response['estados'];      
    }else{
      alert("Ocurrio un Error En la Conexion");
    }
  });
}
dataFromEditarCliente(); 

screenAltura("tabla_http_scroll",280);
var clientes=[];
function clienteBuscar(){
  document.getElementById("div_buscar").style.display="block";
  let data={};
  data['filtro']=document.getElementById("filtro").value;
  data['input_filtro']=document.getElementById("filtro_input").value;    
  data['status']="1,2";
  tableLoader('tabla_http tbody',5);
  $.post(baseUrl+"cliente/buscar",data,function(data){
    $("#tabla_http tbody").html("");
    let response=JSON.parse(data);        
    if (response.status) {
      clientes=arrayToObj(response['data'])
      for (x in response['data']) {        
        let fila='<tr id="f-'+response['data'][x].ID+'">';      
        fila+='<td>'+response['data'][x].NOMBRE+'</td>';  
        fila+='<td>'+response['data'][x].DIRECCION+'</td>';
        fila+='<td>'+response['data'][x].DNI+'</td>';
        fila+='<td>'+response['data'][x].RUC+'</td>';
        fila+='<td>'+response['data'][x].TELEFONO+'</td>';
        fila+='<td>'+response['data'][x].ESTADO+'</td>';      
        fila+='<td style="text-align:center;">';        
        fila+=`<div class="dropdown">
                <button type="button" class="btn btn-primary" data-toggle="dropdown" data-boundary="window">
                  <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="clienteLeer(`+response['data'][x].ID+`)">Ver</a>
                  <a class="dropdown-item" href="javascript:void(0)" 
                    onclick="clienteEditar(`+response['data'][x].ID+`)">Editar</a>                  
                </div>
              </div>`;
        fila+='</td>';      
        fila+='</tr>';
        $("#tabla_http tbody").append(fila);
      }
    }else{
      let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
      $('#modal_mensaje').html(modal_conten_loader);
      $('#modal_mensaje').modal('toggle'); 
    }    
  });
}

function modalClienteLeer(data){
  let modal=`<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Datos Cliente</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombre">Nombres y Apellidos:</label>
            <input readonly type="text" class="form-control" value="`+data.NOMBRE+`">
          </div>
          <div class="form-group">
            <label for="direccion">Direccion:</label>
            <input readonly type="text" class="form-control" value="`+data.DIRECCION+`">
          </div>
          <div class="form-group">
            <label for="dni">Dni:</label>
            <input readonly type="text" class="form-control" id="dni" value="`+data.DNI+`">
          </div>
          <div class="form-group">
            <label for="dni">Ruc:</label>
            <input readonly type="text" class="form-control" id="ruc" value="`+data.RUC+`">
          </div>
          <div class="form-group">
            <label for="telefono">Telefono:</label>
            <input readonly type="text" class="form-control" id="telefono" value="`+data.TELEFONO+`">
          </div>
          <div class="form-group">
            <label for="estado">Estado:</label>    
            <input readonly type="text" class="form-control" id="estado" value="`+data.ESTADO+`">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
    </div>`;
  return modal;
}

function clienteLeer(id){  
  let modal=modalClienteLeer(clientes[id]);  
  $('#modal_mensaje').html(modal);
  $('#modal_mensaje').modal('toggle'); 
}

function modalClienteEditar(data){
  let estado=modalLoadSelect(data.ESTADO_ID,estados);
  let modal=`<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Cliente</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_cliente_editar">
          <div class="form-group">
            <input type="hidden" name="id" value="`+data.ID+`">
            <label for="nombre">Razon Social:</label>
            <input required type="text" class="form-control" id="nombre" 
              name="nombre" value="`+data.NOMBRE+`">
          </div>
          <div class="form-group">
            <label for="direccion">Direccion:</label>
            <input required type="text" class="form-control" id="direccion" 
              name="direccion" value="`+data.DIRECCION+`">
          </div>
          <div class="form-group">
            <label for="dni">Dni:</label>
            <input type="number" class="form-control" id="dni" name="dni" value="`+data.DNI+`">
          </div>
          <div class="form-group">
            <label for="dni">Ruc:</label>
            <input type="number" class="form-control" id="ruc" name="ruc" value="`+data.RUC+`">
          </div>
          <div class="form-group">
            <label for="telefono">Telefono:</label>
            <input type="text" class="form-control" id="telefono" name="telefono" value="`+data.TELEFONO+`">
          </div>
          <div class="form-group">
            <label for="estado">Estado:</label>    
            <select class="form-control" id="estado_id" name="estado_id" nameSelect="estado">
              `+estado+`
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-success" onclick="clienteEditarGuardar()">Editar</button>       
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>        
      </div>
    </div>
    </div>`;
  return modal;
}

function clienteEditar(id){  
  let modal=modalClienteEditar(clientes[id]);  
  $('#modal_formulario').html(modal);
  $('#modal_formulario').modal('toggle'); 
}

function clienteEditarGuardar(){  
  if (formValido("form_cliente_editar")){
    let data_json=objForm("form_cliente_editar");
    modalCargando();
    $.post(baseUrl+"cliente/editar",data_json,function(data){      
      let response=JSON.parse(data);
      $('#modal_cargando').modal('toggle'); 
      if (response.status){
        $('#modal_formulario').html("");
        $('#modal_formulario').modal('toggle');      
        let modal_conten_loader=modalRespuestaOk('Correcto',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');
        dataLocalEdit(clientes,data_json);
        let aObjetos=[]
        aObjetos.push(data_json['nombre']);
        aObjetos.push(data_json['direccion']);
        aObjetos.push(data_json['dni']);        
        aObjetos.push(data_json['ruc']);        
        aObjetos.push(data_json['telefono']);        
        aObjetos.push(data_json['estado']); 
        datatableRowEdit(data_json['id'],aObjetos);        
      }else{
        let modal_conten_loader=modalRespuestaError('Error',response.mensaje,'');        
        $('#modal_mensaje').html(modal_conten_loader);
        $('#modal_mensaje').modal('toggle');      
      }
    }); 
  } 
} 

exportarClientesCsv = function() {
  let exportCvs="NOMBRES,DIRECCION,DNI,RUC,TELEFONO,ESTADO\r\n";
  for(x in clientes){
    exportCvs+=clientes[x].NOMBRE+",";
    exportCvs+=clientes[x].DIRECCION+",";
    exportCvs+=clientes[x].DNI+",";
    exportCvs+=clientes[x].RUC+",";
    exportCvs+=clientes[x].TELEFONO+",";
    exportCvs+=clientes[x].ESTADO;
    exportCvs+= "\r\n";
  }

  csvString = "data:application/csv," + encodeURIComponent(exportCvs);
  let data = document.createElement("A");
  data.setAttribute("href", csvString );
  data.setAttribute("download","clientes.csv");
  document.body.appendChild(data);
  data.click();
}

exportarClientesPdf=function(){   
  let win = window.open('', '', 'height=700,width=900');
  let tabla=`<table style="font-size: 12px;width: 100%;font-family: arial, sans-serif;border-collapse: collapse;">
    <thead>
      <tr>          
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Dni</th>
        <th>Ruc</th>
        <th>Telefono</th>
        <th>Estado</th>              
      </tr>
    </thead>
    <tbody>`;
  for(x in clientes){
    tabla+="<tr>";
    tabla+="<td>"+clientes[x].NOMBRE+"</td>";
    tabla+="<td>"+clientes[x].DIRECCION+"</td>";
    tabla+="<td>"+clientes[x].DNI+"</td>";
    tabla+="<td>"+clientes[x].RUC+"</td>";
    tabla+="<td>"+clientes[x].TELEFONO+"</td>";
    tabla+="<td>"+clientes[x].ESTADO+"</td>";
    tabla+="</tr>";
  }
  tabla+="</tbody></table>";
  let style = "<style>";                        
  style = style + "td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 2px;}";        
  style = style + "</style>";
  win.document.write('<html><head>');
  win.document.write('<title>Clientes</title>');   // <title> FOR PDF HEADER.
  win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
  win.document.write('</head>');
  win.document.write('<body>');
  win.document.write(tabla);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
  win.document.write('</body></html>');
  win.document.close();   // CLOSE THE CURRENT WINDOW.
  win.print();    // PRINT THE CONTENTS.
}

</script>  